 
<!DOCTYPE html>
<html lang="en">
<head>
	<title> Insert</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
	
</head>
<body>
    <div class="container-contact100">
		<div class="wrap-contact100">
                 <center>
				<span class="contact100-form-title" style="color: #000022; font-weight: bold;font-size:45px">
					Quản Lý 
				</span>
              
				<div class="content-page">
					<strong>
					<div class="nav-icon-content">
					
						<br />
							<ul>
								<div>
								<ul>
									<a href="rapphim/rapphim.html" data-name="1" style="text-decoration: none">
										<div class="d-grid gap-2 col-6 mx-auto">
											<button class="btn btn-outline-secondary" type="button">RẠP PHIM</button>
										</div>
									</a>
								</ul>
								<br />
								<ul>
									<a href="cumrap/cumrap.html" data-name="2" style="text-decoration: none">
										<div class="d-grid gap-2 col-6 mx-auto">
											<button class="btn btn-outline-secondary type="button">CỤM RẠP</button>
										</div>
									</a>
								</ul>
								<br />
								<ul>
									<a href="phim/phim.html" data-name="3" style="text-decoration: none">
										<div class="d-grid gap-2 col-6 mx-auto">
											<button class="btn btn-outline-secondary" type="button">PHIM</button>
										</div>
									</a>
								</ul>
								<br />
								<ul>
									<a href="suatchieu/suatchieu.html" data-name="4" style="text-decoration: none">
										<div class="d-grid gap-2 col-6 mx-auto">
											<button class="btn btn-outline-secondary" type="button">SUẤT CHIẾU</button>
										</div>
									</a>
								</ul>
							</ul>

					</div>
					</strong>
				</center>
	</div>
		</div>
    </div>

    
    
</body>
