 
<!DOCTYPE html>
<html lang="en">
<head>
	<title> Insert</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>
<body>
    <div class="container-contact100">
		<div class="wrap-contact100">
                 <center>
				<span class="contact100-form-title" style="color: #000022; font-weight: bold;font-size:45px">
					Đăng ký Cụm Rạp
				</span>
                </center>

			<form action=""  class="contact100-form validate-form" method="POST" enctype="multipart/form-data"> 
                
             

                <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" >
					<span  class="label-input100">ID Cụm Rạp*</span>
					<input class="input100" type="text" name="proid" placeholder="Vui lòng điền ID của Cụm Rạp">
				</div>

				<div class="wrap-input100 validate-input bg0 rs1-alert-validate">
					<span class="label-input100">Tên Cụm Rạp*</span>
					<input class="input100" type="text" name="name" placeholder="Vui lòng điền tên của Cụm Rạp">
				</div>
			
				<div class="wrap-input100 validate-input bg0 rs1-alert-validate">
					<span class="label-input100">Địa Chỉ Cụm Rạp</span>
					<textarea class="input100" name="prodes" placeholder="Vui lòng điền địa chỉ của Cụm Rạp "></textarea>
				</div>

                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">
                        <span>
                            Submit
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    
    
</body>
