
    <div class="container-contact100">
		<div class="wrap-contact100">
                 <center>
				<span class="contact100-form-title" style="color: #000022; font-weight: bold;font-size:45px">
					Admin Page
				</span>
              
				<div class="content-page">
					<strong>
					<div class="nav-icon-content">
					
						<br />
							<ul>
								<div>
								<ul>
									<a href="/cinema" data-name="1" style="text-decoration: none">
										<div class="d-grid gap-2 col-6 mx-auto">
											<button class="btn btn-outline-secondary" type="button">CINEMA</button>
										</div>
									</a>
								</ul>
								<br />
								<ul>
									<a href="/theater" data-name="2" style="text-decoration: none">
										<div class="d-grid gap-2 col-6 mx-auto">
											<button class="btn btn-outline-secondary type="button">THEATER</button>
										</div>
									</a>
								</ul>
								<br />
								<ul>
									<a href="/movie" data-name="3" style="text-decoration: none">
										<div class="d-grid gap-2 col-6 mx-auto">
											<button class="btn btn-outline-secondary" type="button">MOVIE</button>
										</div>
									</a>
								</ul>
								<br />
								<ul>
									<a href="/showtime" data-name="4" style="text-decoration: none">
										<div class="d-grid gap-2 col-6 mx-auto">
											<button class="btn btn-outline-secondary" type="button">SHOWTIME</button>
										</div>
									</a>
								</ul>
								<br />
								<ul>
									<a href="/statistic/movies" data-name="5" style="text-decoration: none">
										<div class="d-grid gap-2 col-6 mx-auto">
											<button class="btn btn-outline-secondary" type="button">STATISTIC OF MOIVES</button>
										</div>
									</a>
								</ul>
								<br />
								<ul>
									<a href="/statistic/cinemas" data-name="6" style="text-decoration: none">
										<div class="d-grid gap-2 col-6 mx-auto">
											<button class="btn btn-outline-secondary" type="button">STATISTIC OF CINEMAS</button>
										</div>
									</a>
								</ul>
								<br />
								<ul>
									<a href="/GUB/profile/logout" data-name="7" style="text-decoration: none">
										<div class="d-grid gap-2 col-6 mx-auto">
											<button class="btn btn-outline-secondary" type="button">LOG OUT</button>
										</div>
									</a>
								</ul>
							</ul>

					</div>
					</strong>
				</center>
	</div>
		</div>
    </div>

    
    
