
<h1><%-title%></h1>

<form method="POST" class="container" >
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder='<%- currentUser.Email%>' disabled/>
        <div id="email" class="form-text">
            We'll never share your email with anyone else.
        </div>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder='<%- currentUser.Name %>'/>
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label">Phone</label>
<input type="text" class="form-control" id="phone" name="tel" placeholder='<%- currentUser.Tel %>'/>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>