
<div class="container">
    <h1><%- title %></h1>
    <form method="POST">
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Name</label>
            <input type="text" name="name" class="form-control" id="exampleInputPassword1">
          </div>

      <div class="mb-3">
        <label for="exampleInputEmail2" class="form-label">Email address</label>
        <input type="text" name="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp">
        <div id="emailHelp"  class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail2" class="form-label">Tel</label>
        <input type="text" name="tel" class="form-control" id="tel" >
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword2" class="form-label">Confirm</label>
        <input type="password" name="confirmpassword" class="form-control" id="exampleInputPassword2">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <a href="/GUB/user/revive">Forget password? </a>
  </div>