<script src="/statistic/movie.js"></script>
    <div class="container">  
        
        <!-- Simple Datatable start -->
		<div class="card-box mb-30">
			<button style="height: 30px; width: 30px; margin-left: 0.2cm; margin-top: 0.2cm;" type="button" onclick="window.location.href='/GUB/admin'"><--</button>
			<div class="pd-20 text-center">
				<h2>GUB' S REVENUE BY MOVIE</h2>
			</div>
			<div class="row" style="margin-left: 540px; padding-top: 30px;">

				<div class="col-auto">
					<h4>From</h4>
				</div>
				<div class="col-auto">
					<input type="date" id="datepicker" onchange="getStatic()">		
				</div>
				<div class="col-auto">
					<h4>To</h4>
				</div>
				<div class="col-auto">
					<input type="date" onchange="getStatic()" id="datepicker2">
				</div>
			</div>
			
		<div id="graph-container">
			<canvas id="myChart" ></canvas>
		</div>
        
        <script>
            function getStatic() {
                if ($('#datepicker').val() != '' && $('#datepicker2').val() != '') {

					var from = $('#datepicker').val();
                    var to = $("#datepicker2").val();
                	$.get('/statistic/chart/movies?'+'from='+from+'&to='+to,function(data){
					var chartcanvas = document.getElementById('myChart');
					chartcanvas.remove(); // this is my <canvas> element
  					$('#graph-container').append('<canvas id="myChart"><canvas>');
  					var newchart = document.querySelector('#myChart');
					var ctx = newchart.getContext('2d');
					myChart = new Chart(ctx, {
            		type: 'bar',
           			 data,
            		options: {
                	responsive: true,
                	scales: {
                    'revenue': {
                        position: 'left'
                    },
                    'count': {
                        position: 'right'
                    }
                	},
					
            		}
        			}); 
    });
    
                } 
            }
        </script>
			
		</div>
		<!-- Simple Datatable End -->
	</div>

	<!-- js -->
