<!--CONTENT-PAGE-->
<div class="content-page">
    <div class="contact-info-content">
        <div class="section-title">
            <h2>Lịch sử giao dịch</h2>
        </div>
        <div class="contact-info-wrap">

        </div>
    </div>
</div>
<!--CONTENT-PAGE-->