<div class="user-details" style="opacity: 1;">
    <div class="user-center">
        <div class="user-info">
            <h2>Thông tin tài khoản</h2>
            <ul>
                <li>
                    <div class="col-title">Giới tính:</div>
                    <div class="col-value"></div>
                </li>
                <li>
                    <div class="col-title">Họ tên:</div>
                    <div class="col-value"></div>
                </li>
                <li>
                    <div class="col-title">Ngày sinh:</div>
                    <div class="col-value"></div>
                </li>
                <li>
                    <div class="col-title">Địa chỉ:</div>
                    <div class="col-value"></div>
                </li>
                <li>
                    <div class="col-title">Điện thoại:</div>
                    <div class="col-value"></div>
                </li>
                <li>
                    <div class="col-title">Tên đăng nhập:</div>
                    <div class="col-value"></div>
                </li>
                <li>
                    <div class="col-title">Email:</div>
                    <div class="col-value"></div>
                </li>
            </ul>
        </div>

        <div class="user-history">
            <h2>Hoạt động với GUBCinema</h2>
            <table>

                <tbody>
                    <tr>
                        <td>Ngày</td>
                        <td>cashiers</td>
                        <td>type</td>
                        <td>points</td>
                        <td>reason</td>
                    </tr>
                    <!-- <tr>
                        <td>25/04/2015</td>
                        <td>Cinema Quốc Thanh</td>
                        <td>Cô Gái Lọ Lem</td>
                        <td>2</td>
                        <td>19:30</td>
                    </tr> -->
                </tbody>
            </table>
            <ul>
                <li>
                    <div class="col-title">Điểm tích lũy:</div>
                    <div class="col-value">0</div>
                </li>
                <li>
                    <div class="col-title">Loại thẻ:</div>
                    <div class="col-value"></div>
                </li>
            </ul>
        </div>
    </div>
</div>