<!--CONTENT-PAGE-->
<div class="content-page">
    <div class="nav-icon-content">
        <div class="nav-icon-wrap">
            <ul>
                <li>
                    <a href="javscript:void(0);" data-name="1"><img src="/pictures/moi/8DinhDang/dolby.png" alt="DOBLY ATMOS - CÔNG NGHỆ ÂM THANH MỚI MANG TÍNH ĐỘT PHÁ" /></a>
                </li>
                <li>
                    <a href="javscript:void(0);" data-name="2"><img src="/pictures/moi/8DinhDang/christie.png" alt="Máy chiếu CHRISTIE" /></a>
                </li>
                <li>
                    <a href="javscript:void(0);" data-name="3"><img src="/pictures/moi/8DinhDang/2d.png" alt="Công nghệ chiếu phim 2D Digital" /></a>
                </li>
                <li>
                    <a href="javscript:void(0);" data-name="4"><img src="/pictures/moi/8DinhDang/3d3.png" alt="Công nghệ chiếu phim 3D Digital" /></a>
                </li>
            </ul>
        </div>
    </div>

    <!--movie-->
    <!--PLAYING-MOVIE-->
    <div class="section-title">
        <h2>Các phim đang chiếu</h2>
    </div>
    <div class="movie-content on-page">
        <div class="movie-wrap">
            <div class="movie-slide">
                <div class="movie-item n_2d">
                    <div class="movie-pic"><img class="lazyload" data-src="pictures/Cinestar/03-2021/lm.jpg" alt="LẬT MẶT 48H (C18)" /></div>
                    <div class="movie-txt">
                        <h3>LẬT MẶT 48H (C18)</h3>
                    </div>
                    <div class="movie-over">
                        <a href="phim/0c8b1b99-7b33-43d0-aeaa-9c54e19cf2c7">
                            <p>Chuyện phim kể về Hiền (Võ Thành Tâm) - một cựu vận động viên võ thuật sau khi giải nghệ vì chấn thương đã cùng vợ (Ốc Thanh Vân) và con gái về quê thăm gia đình Lâm (Mạc Văn Khoa). Họ bị cuốn vào một cuộc rượt đuổi với tay
                                phản diện A Dìn (Huỳnh Đông). Để bảo vệ cho gia đình nhỏ, Hiền phải đưa vợ con chạy trốn khắp miền Tây sông nước với sự trợ giúp của người bạn thật thà và hài hước.</p><span class="atc">...</span>
                            <span class="detail-link">Chi tiết</span>
                        </a>
                        <a class="trailler-btn fontsize13" href="trailer?code=07zvDW_nj0U">Xem trailer</a>
                        <a class="cart-btn fontsize13" href="lichchieu/0c8b1b99-7b33-43d0-aeaa-9c54e19cf2c7">Mua vé</a>
                    </div>
                </div>
                <div class="movie-item n_2d">
                    <div class="movie-pic"><img class="lazyload" data-src="pictures/Cinestar/03-2021/bogia1203.jpg" alt="BỐ GIÀ (C13)" /></div>
                    <div class="movie-txt">
                        <h3>BỐ GIÀ (C13)</h3>
                    </div>
                    <div class="movie-over">
                        <a href="phim/8fef0e82-b317-42e4-a373-815b782bb6be">
                            <p>Bố Già xoay quanh lối sống thường nhật của một xóm lao động nghèo, ở đó có bộ tứ anh em Giàu - Sang - Phú - Quý với Ba Sang sẽ là nhân vật chính, hay lo chuyện bao đồng nhưng vô cùng thương con cái. Câu chuyện phim tập trung
                                về hai cha con Ba Sang và Quắn. Dù yêu thương nhau nhưng khoảng cách thế hệ đã đem đến những bất đồng lớn giữa hai cha con. Liệu cả hai có thể cho nhau cơ hội thấu hiểu đối phương, thu hẹp khoảng cách và tạo nên hạnh phúc
                                từ sự khác biệt?</p><span class="atc">...</span>
                            <span class="detail-link">Chi tiết</span>
                        </a>
                        <a class="trailler-btn fontsize13" href="trailer?code=cSp3_hlhhQI">Xem trailer</a>
                        <a class="cart-btn fontsize13" href="lichchieu/8fef0e82-b317-42e4-a373-815b782bb6be">Mua vé</a>
                    </div>
                </div>
                <div class="movie-item n_2d">
                    <div class="movie-pic"><img class="lazyload" data-src="pictures/Cinestar/03-2021/gocong.jpg" alt="GODZILLA VS KONG (C13)" /></div>
                    <div class="movie-txt">
                        <h3>GODZILLA VS KONG (C13)</h3>
                    </div>
                    <div class="movie-over">
                        <a href="phim/bfcf63be-1f26-494b-9ee5-f34920d9180b">
                            <p>Sau các sự kiện diễn ra ở “Godzilla: King of the Monsters”, trong thời đại mà các Titans đòi lại quyền làm chủ hành tinh, cuộc đấu tranh sinh tồn giữa loài người với chúng đã dẫn đến một cuộc chiến không thể tránh khỏi giữa
                                Godzilla và Kong. Trong khi Monarch cố gắng làm sáng tỏ nguồn gốc của Titans, thì vẫn còn đó một âm mưu đen tối với mục đích là tiêu diệt tất cả các Titan và toàn bộ các sinh vật trên Trái Đất ...</p><span class="atc">...</span>
                            <span class="detail-link">Chi tiết</span>
                        </a>
                        <a class="trailler-btn fontsize13" href="trailer?code=qLiVIeNl-oI">Xem trailer</a>
                        <a class="cart-btn fontsize13" href="lichchieu/bfcf63be-1f26-494b-9ee5-f34920d9180b">Mua vé</a>
                    </div>
                </div>
                <div class="movie-item n_2d">
                    <div class="movie-pic"><img class="lazyload" data-src="pictures/Cinestar/04-2021/bantay.jpg" alt="BÀN TAY DIỆT QUỶ (C18)" /></div>
                    <div class="movie-txt">
                        <h3>BÀN TAY DIỆT QUỶ (C18)</h3>
                    </div>
                    <div class="movie-over">
                        <a href="phim/14458445-acbc-4000-b5ee-d77f16b330c5">
                            <p>Sau khi bản thân bỗng nhiên sở hữu "Bàn tay diệt quỷ", võ sĩ MMA Yong Hoo (Park Seo Joon thủ vai) đã dấn thân vào hành trình trừ tà, trục quỷ đối đầu với Giám Mục Bóng Tối (Woo Do Hwan) – tên quỷ Satan đột lốt người. Từ đó
                                sự thật về cái chết của cha Yong Hoo cũng dần được hé lộ cũng như nguyên nhân anh trở thành "người được chọn".</p><span class="atc">...</span>
                            <span class="detail-link">Chi tiết</span>
                        </a>
                        <a class="trailler-btn fontsize13" href="trailer?code=3e3L1ahR42E">Xem trailer</a>
                        <a class="cart-btn fontsize13" href="lichchieu/14458445-acbc-4000-b5ee-d77f16b330c5">Mua vé</a>
                    </div>
                </div>
                <div class="movie-item n_2d">
                    <div class="movie-pic"><img class="lazyload" data-src="pictures/Cinestar/04-2021/seobok.jpg" alt="NGƯỜI NHÂN BẢN (C16)" /></div>
                    <div class="movie-txt">
                        <h3>NGƯỜI NHÂN BẢN (C16)</h3>
                    </div>
                    <div class="movie-over">
                        <a href="phim/6f7e7528-a137-4dc5-b3ae-75a605296fac">
                            <p>Người Nhân Bản kể về Ki-hun – một cựu đặc vụ sống tách biệt với thế giới bên ngoài kể từ sau biến cố trong quá khứ, chấp nhận thực hiện nhiệm vụ cuối cùng từ Cơ quan Tình báo. Anh phải chịu trách nhiệm di chuyển Seobok, một
                                đối tượng thử nghiệm được tạo ra bằng cách nhân bản tế bào gốc và biến đổi gen. Tuy nhiên mọi việc không hề suôn sẻ với họ, khi Seobok trở thành mục tiêu của các thế lực khác với những tham vọng và âm mưu khó đoán. Ki-hun
                                sẽ vượt qua tất cả những hiểm nguy đang chực chờ phía trước, hay Seobok cuối cùng sẽ rơi vào tay kẻ muốn chiếm đoạt vận mệnh của toàn nhân loại?</p><span class="atc">...</span>
                            <span class="detail-link">Chi tiết</span>
                        </a>
                        <a class="trailler-btn fontsize13" href="trailer?code=Cv68bkogRU4">Xem trailer</a>
                        <a class="cart-btn fontsize13" href="lichchieu/6f7e7528-a137-4dc5-b3ae-75a605296fac">Mua vé</a>
                    </div>
                </div>
                <div class="movie-item n_2d">
                    <div class="movie-pic"><img class="lazyload" data-src="pictures/Cinestar/04-2021/ong.jpg" alt="(DUB) ONG NHÍ PHIÊU LƯU KÝ 2D: GIẢI CỨU CÔNG CHÚA KIẾN" /></div>
                    <div class="movie-txt">
                        <h3>(DUB) ONG NHÍ PHIÊU LƯU KÝ 2D: GIẢI CỨU CÔNG CHÚA KIẾN</h3>
                    </div>
                    <div class="movie-over">
                        <a href="phim/ca903c51-35e1-4494-bf2a-82a386fb2add">
                            <p>Quá háo hức chào đón mùa xuân, Maya và Willy đã thức dậy khỏi giấc ngủ đông sớm hơn thời gian dự định. Từ đây, đôi bạn vô tình phải nhận một nhiệm vụ đặc biệt – bảo vệ và đưa quả trứng vàng đến ngôi nhà mới. Tuy nhiên, mọi
                                rắc rối bắt đầu ập đến khi quả trứng nứt và cô công chúa kiến bé nhỏ ra đời. Maya, Willy và những người bạn đồng hành phải phối hợp cùng nhau để chăm sóc và bảo vệ công chúa kiến khỏi vô vàn nguy hiểm xung quanh. Trong
                                hành trình đầy bất ngờ và gian nan này, Willy dần dần khám phá được một khía cạnh khác của bản thân – dịu dàng và kiên nhẫn với cô công chúa nhỏ. Bộ đôi Maya và Willy cũng đã trưởng thành hơn và tình bạn giữa họ càng trở
                                nên thêm khăng khít và gắn bó.</p><span class="atc">...</span>
                            <span class="detail-link">Chi tiết</span>
                        </a>
                        <a class="trailler-btn fontsize13" href="trailer?code=x34O2WfbMbk">Xem trailer</a>
                        <a class="cart-btn fontsize13" href="lichchieu/ca903c51-35e1-4494-bf2a-82a386fb2add">Mua vé</a>
                    </div>
                </div>
                <div class="movie-item n_2d">
                    <div class="movie-pic"><img class="lazyload" data-src="pictures/Cinestar/04-2021/hypnosis.jpg" alt="CON LẮC TÀ THUẬT (C18)" /></div>
                    <div class="movie-txt">
                        <h3>CON LẮC TÀ THUẬT (C18)</h3>
                    </div>
                    <div class="movie-over">
                        <a href="phim/9fd58dbb-5646-42f2-9399-673b31315373">
                            <p>Do-hyun (David LEE) là một sinh viên đang theo học chuyên ngành Tiếng Anh tại một trường đại học, sau khi nhận được lời đề nghị từ Giáo sư YEO (SEO Yi-sook) Do-hyun đã đồng ý giúp đỡ một sinh viên trao đổi đang phải trải qua
                                điều trị tâm lý sau một tai nạn bí ẩn. Qua lời giới thiệu của người bạn này, Do-hyun đã được Giáo sư CHOI (SON Byung-ho) thôi miên. Tuy nhiên, những hình ảnh rùng rợn liên quan đến một vụ án trong quá khứ luôn đeo bám Do-hyun
                                kể từ khi bị đánh thức sau lần thôi miên ấy, dù đó là ký ức chưa từng tổn tại trong trí nhớ của anh. Trong khi ấy, hội bạn chơi lâu năm của Do-hyun đồng thời phải đối mặt với các tai nạn bí ẩn hay bị tra tấn bởi những ảo
                                giác kỳ lạ.</p><span class="atc">...</span>
                            <span class="detail-link">Chi tiết</span>
                        </a>
                        <a class="trailler-btn fontsize13" href="trailer?code=">Xem trailer</a>
                        <a class="cart-btn fontsize13" href="lichchieu/9fd58dbb-5646-42f2-9399-673b31315373">Mua vé</a>
                    </div>
                </div>
                <div class="movie-item n_2d">
                    <div class="movie-pic"><img class="lazyload" data-src="pictures/Cinestar/04-2021/conan.jpg" alt="DETECTIVE CONAN 2D PĐ (C13): VIÊN ĐẠN ĐỎ" /></div>
                    <div class="movie-txt">
                        <h3>DETECTIVE CONAN 2D PĐ (C13): VIÊN ĐẠN ĐỎ</h3>
                    </div>
                    <div class="movie-over">
                        <a href="phim/5351111b-8d29-4f91-a4f4-add77c151177">
                            <p>Nhật Bản đang tổ chức lễ kỷ niệm World Sports Games (WSG), sự kiện thể thao lớn nhất thế giới tại Tokyo. "Shinkansen", con tàu siêu dẫn ống chân không đầu tiên trên thế giới được chế tạo từ công nghệ mới nhất của Nhật Bản sẽ
                                được mở chạy và có thời gian trùng với thời khắc khai mạc WSG. Con tàu được thiết lập chạy từ Ga Shin Nagoya đến Ga Tokyo với tốc độ 1000km/h. Tuy nhiên, một sự cố kỳ lạ đã diễn ra trong bữa tiệc của các nhà tài trợ nổi
                                tiếng, theo sau đó chính là hàng loạt vụ bắt cóc các giám đốc điều hành. Conan đã liên kết vụ này về vụ án bắt cóc hàng loạt liên quan đến WSG vào 15 năm trước ở Boston.</p><span class="atc">...</span>
                            <span class="detail-link">Chi tiết</span>
                        </a>
                        <a class="trailler-btn fontsize13" href="trailer?code=N0eco36cNAw">Xem trailer</a>
                        <a class="cart-btn fontsize13" href="lichchieu/5351111b-8d29-4f91-a4f4-add77c151177">Mua vé</a>
                    </div>
                </div>
                <div class="movie-item n_2d">
                    <div class="movie-pic"><img class="lazyload" data-src="pictures/Cinestar/04-2021/ong.jpg" alt="ONG NHÍ PHIÊU LƯU KÝ 2D PĐ: GIẢI CỨU CÔNG CHÚA KIẾN" /></div>
                    <div class="movie-txt">
                        <h3>ONG NHÍ PHIÊU LƯU KÝ 2D PĐ: GIẢI CỨU CÔNG CHÚA KIẾN</h3>
                    </div>
                    <div class="movie-over">
                        <a href="phim/17d24a16-8a75-4b9e-b533-f2b4f7366ee2">
                            <p>Quá háo hức chào đón mùa xuân, Maya và Willy đã thức dậy khỏi giấc ngủ đông sớm hơn thời gian dự định. Từ đây, đôi bạn vô tình phải nhận một nhiệm vụ đặc biệt – bảo vệ và đưa quả trứng vàng đến ngôi nhà mới. Tuy nhiên, mọi
                                rắc rối bắt đầu ập đến khi quả trứng nứt và cô công chúa kiến bé nhỏ ra đời. Maya, Willy và những người bạn đồng hành phải phối hợp cùng nhau để chăm sóc và bảo vệ công chúa kiến khỏi vô vàn nguy hiểm xung quanh. Trong
                                hành trình đầy bất ngờ và gian nan này, Willy dần dần khám phá được một khía cạnh khác của bản thân – dịu dàng và kiên nhẫn với cô công chúa nhỏ. Bộ đôi Maya và Willy cũng đã trưởng thành hơn và tình bạn giữa họ càng trở
                                nên thêm khăng khít và gắn bó.</p><span class="atc">...</span>
                            <span class="detail-link">Chi tiết</span>
                        </a>
                        <a class="trailler-btn fontsize13" href="trailer?code=x34O2WfbMbk">Xem trailer</a>
                        <a class="cart-btn fontsize13" href="lichchieu/17d24a16-8a75-4b9e-b533-f2b4f7366ee2">Mua vé</a>
                    </div>
                </div>
                <div class="movie-item n_2d">
                    <div class="movie-pic"><img class="lazyload" data-src="pictures/Cinestar/04-2021/boss.jpg" alt="TRÙM CUỐI SIÊU ĐẲNG (C18)" /></div>
                    <div class="movie-txt">
                        <h3>TRÙM CUỐI SIÊU ĐẲNG (C18)</h3>
                    </div>
                    <div class="movie-over">
                        <a href="phim/948aa577-2e4f-45d9-a51c-ef298c4edde2">
                            <p>Mắc kẹt trong một vòng lặp thời gian ngay đúng ngày anh ta bị giết chết, một cựu đặc vụ Roy Pulver (Frank Gillo) đã phát hiện ra manh mới về một dự án bí mật của chính phủ có thể giải đáp bí ẩn đằng sau cái chết vô thời hạn
                                của anh ta. Roy buộc lòng phải chạy đua với thời gian và truy bắt tên Colonel Ventor (Mel Gibson), đầu sỏ của dự án chính phủ này. Trong lúc đó, anh phải thoát khỏi cuộc vây bắt của những tên sát thủ tàn ác quyết tâm ngăn
                                cản Roy tìm ra được sự thật. Liệu Roy Pulver có thể thoát khỏi vòng lặp này và cứu lấy gia đình đồng thời sống lại một lần nữa vào ngày mai?</p><span class="atc">...</span>
                            <span class="detail-link">Chi tiết</span>
                        </a>
                        <a class="trailler-btn fontsize13" href="trailer?code=WpbsJUX41xs">Xem trailer</a>
                        <a class="cart-btn fontsize13" href="lichchieu/948aa577-2e4f-45d9-a51c-ef298c4edde2">Mua vé</a>
                    </div>
                </div>
                <div class="movie-item n_2d">
                    <div class="movie-pic"><img class="lazyload" data-src="pictures/Cinestar/04-2021/conan.jpg" alt="(DUB) THÁM TỬ LỪNG DANH CONAN 2D LT: VIÊN ĐẠN ĐỎ" /></div>
                    <div class="movie-txt">
                        <h3>(DUB) THÁM TỬ LỪNG DANH CONAN 2D LT: VIÊN ĐẠN ĐỎ</h3>
                    </div>
                    <div class="movie-over">
                        <a href="phim/79a3369d-1c7c-4c1b-b93e-092bc0dc1aa0">
                            <p>Nhật Bản đang tổ chức lễ kỷ niệm World Sports Games (WSG), sự kiện thể thao lớn nhất thế giới tại Tokyo. "Shinkansen", con tàu siêu dẫn ống chân không đầu tiên trên thế giới được chế tạo từ công nghệ mới nhất của Nhật Bản sẽ
                                được mở chạy và có thời gian trùng với thời khắc khai mạc WSG. Con tàu được thiết lập chạy từ Ga Shin Nagoya đến Ga Tokyo với tốc độ 1000km/h. Tuy nhiên, một sự cố kỳ lạ đã diễn ra trong bữa tiệc của các nhà tài trợ nổi
                                tiếng, theo sau đó chính là hàng loạt vụ bắt cóc các giám đốc điều hành. Conan đã liên kết vụ này về vụ án bắt cóc hàng loạt liên quan đến WSG vào 15 năm trước ở Boston.</p><span class="atc">...</span>
                            <span class="detail-link">Chi tiết</span>
                        </a>
                        <a class="trailler-btn fontsize13" href="trailer?code=N0eco36cNAw">Xem trailer</a>
                        <a class="cart-btn fontsize13" href="lichchieu/79a3369d-1c7c-4c1b-b93e-092bc0dc1aa0">Mua vé</a>
                    </div>
                </div>
                <div class="movie-item n_2d">
                    <div class="movie-pic"><img class="lazyload" data-src="pictures/Cinestar/05-2021/nbd.jpg" alt="KẺ VÔ DANH (C18)" /></div>
                    <div class="movie-txt">
                        <h3>KẺ VÔ DANH (C18)</h3>
                    </div>
                    <div class="movie-over">
                        <a href="phim/13545aa5-4d62-4405-98ef-75b3c6d1509e">
                            <p>Đôi khi người đàn ông mà bạn không để ý lại là người nguy hiểm nhất. Hutch Mansell, một người cha và người chồng bị đánh giá thấp và bị coi thường, luôn coi thường sự phẫn nộ của cuộc đời và không bao giờ lùi bước. Một kẻ vô
                                danh.
                            </p><span class="atc">...</span>
                            <span class="detail-link">Chi tiết</span>
                        </a>
                        <a class="trailler-btn fontsize13" href="trailer?code=">Xem trailer</a>
                        <a class="cart-btn fontsize13" href="lichchieu/13545aa5-4d62-4405-98ef-75b3c6d1509e">Mua vé</a>
                    </div>
                </div>
                <div class="movie-item n_2d">
                    <div class="movie-pic"><img class="lazyload" data-src="pictures/Cinestar/04-2021/warrior.jpg" alt="CHIẾN BINH CUỐI CÙNG (C13): CỘI NGUỒN CỦA QUỶ" /></div>
                    <div class="movie-txt">
                        <h3>CHIẾN BINH CUỐI CÙNG (C13): CỘI NGUỒN CỦA QUỶ</h3>
                    </div>
                    <div class="movie-over">
                        <a href="phim/26efa74e-0b27-4e9d-bb01-e50d62584a36">
                            <p></p><span class="atc">...</span>
                            <span class="detail-link">Chi tiết</span>
                        </a>
                        <a class="trailler-btn fontsize13" href="trailer?code=">Xem trailer</a>
                        <a class="cart-btn fontsize13" href="lichchieu/26efa74e-0b27-4e9d-bb01-e50d62584a36">Mua vé</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--PLAYING-MOVIE-->
    <!--movie-->

    <!--PROMOTION-SECTION-->
    <div class="promotion-content">
        <div class="promotion-wrap">
            <div class="promotion-title">
                <h2>Ưu đãi</h2>
            </div>

            <div class="promotion-slide">
                <div class="promotion-item">
                    <a href="khuyenmai/c-monday">
                        <div class="promotion-pic">
                            <img class="lazyload" data-src="pictures/c_monday.jpg" align="C'MONDAY - ƯU ĐÃI THỨ 2" />
                        </div>
                    </a>
                </div>

                <div class="promotion-item">
                    <a href="khuyenmai/combobigstaruudaithuba">
                        <div class="promotion-pic">
                            <img class="lazyload" data-src="pictures/big-star-_-trang-chủ-web.jpg" align="COMBO BIG STAR - ƯU ĐÃI THỨ BA " />
                        </div>
                    </a>
                </div>

                <div class="promotion-item">
                    <a href="khuyenmai/c-member">
                        <div class="promotion-pic">
                            <img class="lazyload" data-src="pictures/hinhnenCTKM/c'member.jpg" align="C'member - ngày hội thành viên" />
                        </div>
                    </a>
                </div>

                <div class="promotion-item">
                    <a href="khuyenmai/c-student">
                        <div class="promotion-pic">
                            <img class="lazyload" data-src="pictures/hinhnenCTKM/hssv.jpg" align="TẸT GA 45K SUỐT TUẦN TOÀN HỆ THỐNG" />
                        </div>
                    </a>
                </div>

                <div class="promotion-item">
                    <a href="khuyenmai/c-ten">
                        <div class="promotion-pic">
                            <img class="lazyload" data-src="pictures/c_ten.jpg" align="C'Ten - Khuyến mãi tại mốc 10H" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--PROMOTION-SECTION-->
</div>
<!--CONTENT-PAGE-->