<!--CONTENT-PAGE-->
<div class="content-page">
    <div class="nav-icon-content">
        <div class="nav-icon-wrap">
            <ul>
                <li>
                    <a href="javscript:void(0);" data-name="1"><img src="/pictures/moi/8DinhDang/dolby.png" alt="DOBLY ATMOS - CÔNG NGHỆ ÂM THANH MỚI MANG TÍNH ĐỘT PHÁ" /></a>
                </li>
                <li>
                    <a href="javscript:void(0);" data-name="2"><img src="/pictures/moi/8DinhDang/christie.png" alt="Máy chiếu CHRISTIE" /></a>
                </li>
                <li>
                    <a href="javscript:void(0);" data-name="3"><img src="/pictures/moi/8DinhDang/2d.png" alt="Công nghệ chiếu phim 2D Digital" /></a>
                </li>
                <li>
                    <a href="javscript:void(0);" data-name="4"><img src="/pictures/moi/8DinhDang/3d3.png" alt="Công nghệ chiếu phim 3D Digital" /></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="sub-tab">
        <ul>
            <li>
                <a href="getmoviehomepage" data-name="playing">Phim đang chiếu</a>
            </li>
            <li><a href="getmoviehomepage" data-name="coming">Phim sắp chiếu</a></li>
            <li>
                <a href="getmoviehomepage" data-name="special">Suất chiếu đặc biệt</a>
            </li>
        </ul>
    </div>

    