<!--CONTENT-PAGE-->
<div class="content-page">
    <!--CINERMA - SYSTEM-->
    <div class="cinema-list-content">
        <form>
            <div class="cinema-list-wrap">
                <div class="cinema-list">
                    <h2>Hệ thống rạp</h2>

                    <div class="select-list" data-cate="location">
                        <div class="select-header">
                            <span></span>
                            <h3>Hồ Chí Minh</h3>
                        </div>
                        <div class="select-box">
                            <ul>
                                <li>
                                    <a href="javascript:void(0);" data-target="44eb9a3b-a1fb-45a4-898e-1c0ae39e84dc">
                                        <h3>Hồ Chí Minh</h3>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" data-target="506018c7-c3a6-4113-9112-01cbad73d0a7">
                                        <h3>Đà Lạt</h3>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" data-target="e2c7d28c-2f95-444d-b9ff-aa6684af4ad8">
                                        <h3>Bình Dương</h3>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" data-target="3a10a529-c2e3-4d88-8ad5-f3d653849c0d">
                                        <h3>Huế</h3>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" data-target="b27fe633-a4a1-4df4-81e2-23b3da44f7ec">
                                        <h3>Tiền Giang</h3>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="select-list" data-cate="location-cine">
                        <div class="select-header">
                            <span></span>
                            <h3 data-holder="Chọn rạp">Quốc Thanh</h3>
                        </div>
                        <div class="select-box">
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                    </div>

                </div>
        </form>

        <div class="cinema-address">
            <!--SEARCH-BLOCK-->
            <div class="search-block">
                <div class="select-list" data-cate="dayofweek">
                    <div class="select-header">
                        <span></span>
                        <h3 data-holder="Chọn ngày">HÔM NAY: 25-05-2021</h3>
                    </div>
                    <div class="select-box">
                        <ul>
                            <li class="selected">
                                <a href="https://cinestar.com.vn/lichchieuphimtheongay" data-date="25-05-2021">
                                    <h3>HÔM NAY: 25-05-2021</h3>
                                </a>
                            </li>
                            <li>
                                <a href="https://cinestar.com.vn/lichchieuphimtheongay" data-date="26-05-2021">
                                    <h3>NGÀY MAI: 26-05-2021</h3>
                                </a>
                            </li>
                            <li>
                                <a href="https://cinestar.com.vn/lichchieuphimtheongay" data-date="27-05-2021">
                                    <h3>THỨ 5: 27-05-2021</h3>
                                </a>
                            </li>
                            <li>
                                <a href="https://cinestar.com.vn/lichchieuphimtheongay" data-date="28-05-2021">
                                    <h3>THỨ 6: 28-05-2021</h3>
                                </a>
                            </li>
                            <li>
                                <a href="https://cinestar.com.vn/lichchieuphimtheongay" data-date="29-05-2021">
                                    <h3>THỨ 7: 29-05-2021</h3>
                                </a>
                            </li>
                            <li>
                                <a href="https://cinestar.com.vn/lichchieuphimtheongay" data-date="30-05-2021">
                                    <h3>CHỦ NHẬT: 30-05-2021</h3>
                                </a>
                            </li>
                            <li>
                                <a href="https://cinestar.com.vn/lichchieuphimtheongay" data-date="31-05-2021">
                                    <h3>THỨ 2: 31-05-2021</h3>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <!--SEARCH-BLOCK-->
            <div class="section-title">
                <h2>Lịch chiếu</h2>
            </div>
        </div>

        </div>
    </div>
    <!--CINERMA - SYSTEM-->

    <!--SCHECULE - LIST-->
    <div class="schedule-list-content">
        <div class="schedule-list-wrap">
            <div class="schedule-detail-content">
                <div class="schedule-detail-wrap">
                    <!--FILM-BLOCK-->
                    <div class="film-block">

                        <div class="film-item t-3d">
                            <div class="film-item-pic">
                                <img src="pictures/Cinestar/03-2021/lm.jpg" alt="LẬT MẶT 48H (C18)" />
                            </div>
                            <div class="film-item-txt">
                                <h3>LẬT MẶT 48H (C18)</h3>
                                <!--SCHECULE-BLOCK-->
                                <div class="schedule-block">
                                    <div class="schedule-block-load">
                                        <button class="schedule-btn">12 AM</button>
                                        <button class="schedule-btn">6 PM</button>
                                        <button class="schedule-btn">12 PM</button>
                                    </div>
                                </div>
                                <!--SCHECULE-BLOCK-->

                            </div>
                        </div>

                    </div>
                    <!--FILM-BLOCK-->

                </div>
            </div>
            <div class="schedule-detail-content">
                <div class="schedule-detail-wrap">
                    <!--FILM-BLOCK-->
                    <div class="film-block">

                        <div class="film-item t-3d">
                            <div class="film-item-pic">
                                <img src="https://cinestar.com.vn/pictures/Cinestar/03-2021/bogia1203.jpg" alt="BỐ GIÀ (C13)">
                            </div>
                            <div class="film-item-txt">
                                <h3>BỐ GIÀ (C13)</h3>
                                <!--SCHECULE-BLOCK-->
                                <div class="schedule-block">
                                    <div class="schedule-block-load" style="opacity: 1;">
                                        <button class="schedule-btn">10 AM</button>
                                        <button class="schedule-btn">14 AM</button>
                                        <button class="schedule-btn">10 PM</button>
                                    </div>
                                </div>
                                <!--SCHECULE-BLOCK-->

                            </div>
                        </div>

                    </div>
                    <!--FILM-BLOCK-->

                </div>
            </div>
        </div>
    </div>

    <!--SCHECULE - LIST-->


    <!--PROMOTION-SECTION-->
    <div class="promotion-content">
        <div class="promotion-wrap">

            <div class="promotion-title">
                <h2>Ưu đãi</h2>
            </div>

            <div class="promotion-slide">

                <div class="promotion-item">
                    <a href="khuyenmai/c-monday">
                        <div class="promotion-pic"><img class="lazyload" data-src="pictures/c_monday.jpg" align="C'MONDAY - ƯU ĐÃI THỨ 2" /></div>
                    </a>
                </div>

                <div class="promotion-item">
                    <a href="khuyenmai/combobigstaruudaithuba">
                        <div class="promotion-pic"><img class="lazyload" data-src="pictures/big-star-_-trang-chủ-web.jpg" align="COMBO BIG STAR - ƯU ĐÃI THỨ BA " /></div>
                    </a>
                </div>

                <div class="promotion-item">
                    <a href="khuyenmai/c-member">
                        <div class="promotion-pic"><img class="lazyload" data-src="pictures/hinhnenCTKM/c'member.jpg" align="C'member - ngày hội thành viên" /></div>
                    </a>
                </div>

                <div class="promotion-item">
                    <a href="khuyenmai/c-student">
                        <div class="promotion-pic"><img class="lazyload" data-src="pictures/hinhnenCTKM/hssv.jpg" align="TẸT GA 45K SUỐT TUẦN TOÀN HỆ THỐNG" /></div>
                    </a>
                </div>

                <div class="promotion-item">
                    <a href="khuyenmai/c-ten">
                        <div class="promotion-pic"><img class="lazyload" data-src="pictures/c_ten.jpg" align="C'Ten - Khuyến mãi tại mốc 10H" /></div>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <!--PROMOTION-SECTION-->

</div>
<!--CONTENT-PAGE-->
<script>
    $('.cinema-list .select-header').click(function() {
        var that = $(this);
        if ($(this).hasClass('onclick')) {
            $(this).removeClass('onclick');
            $(this).next('.select-box').fadeOut(200, 'linear');
        } else {
            that.addClass('onclick');
            $(this).next('.select-box').fadeIn(200, 'linear');

            $(this).closest('.select-list').on("mouseleave", function() {
                $(this).find('.select-box').fadeOut(200, 'linear');
                that.removeClass('onclick');
            });

        }
    });
    $(document).on("click", ".cinema-list .select-box li a", function(e) {
        e.preventDefault();

        var cate = $(this).parents('.select-list').attr('data-cate');
        var target = $(this).attr('data-target');
        var theater_id = $(this).attr('data-value');

        $(this).parent().parent().find(' > li').removeClass('selected');
        $(this).parent().addClass('selected');
        $(this).parents('.select-list').find('.select-header h3').text($(this).text());
        $(this).closest('.select-box').fadeOut(200, 'linear');

        if (cate == 'location') {
            getPage(BASE_URL + "gettheaterbyarea", "GET", {
                id: target
            }, function(data) {
                $('.loadicon').fadeOut(300, 'linear', function() {
                    $('.loadicon').remove();
                });
                data = JSON.parse(data);
                $('.select-list[data-cate="location-cine"] .select-box ul').html("");
                $.each(data, function(key, value) {
                    $('.select-list[data-cate="location-cine"] .select-box ul').append('<li class="show"><a href="' + BASE_URL + 'schedulelist" data-value="' + value.ID + '" cinema-id="1" data-cine="1/1" cine-open="1" cine-address="' + value.ADDRESS + '" cine-call="' + value.TELEPHONE + '"><h3>' + value.NAME + '</h3></a></li>');
                });
                $('.select-list[data-cate="location-cine"] .select-box li').first().find('> a').trigger('click');
            });
        } else {
            movie.theater_id = $(this).attr('data-value');
            $('.c_name').html($(this).text().replace("CineStar ", ""));
            $('.c_address').html($(this).attr('cine-address'));
            $('.c_tel strong').html('<a href="tel:' + $(this).attr('cine-call') + '">' + $(this).attr('cine-call') + '</a>');
            var url = $(this).attr('href');

            $('body').append('<div class="loadicon" style="display:block"><span class="circle"></span></div>');

            $('.schedule-load').stop().animate({
                'opacity': 0
            }, 600, 'linear', function() {
                if ($('.schedule-load').children().length > 0) {
                    $('.schedule-load').children().remove();
                }
                var data = {
                    area_id: $('.select-list[data-cate="location"] li.selected a').attr('data-target'),
                    theater_id: theater_id
                };
                LoadSchedule(url, data);
            });
        }

        return false;
    });
    $('.select-list[data-cate="location"] .select-box li:first-child a').trigger('click');
</script>
<script>
    $('.search-block .select-header').click(function() {
        var that = $(this);
        if ($(this).hasClass('onclick')) {
            $(this).removeClass('onclick');
            $(this).next('.select-box').fadeOut(200, 'linear');
        } else {
            that.addClass('onclick');
            $(this).next('.select-box').fadeIn(200, 'linear');

            $(this).closest('.select-list').on("mouseleave", function() {
                $(this).find('.select-box').fadeOut(200, 'linear');
                that.removeClass('onclick');
            });

        }
    });
    $('.search-block .select-box li a').click(function(e) {
        e.preventDefault();

        var cate = $(this).parents('.select-list').attr('data-cate');
        var target = $(this).attr('data-target');
        var date = $(this).attr('data-date');

        $(this).parent().parent().find(' > li').removeClass('selected');
        $(this).parent().addClass('selected');
        $(this).parents('.select-list').find('.select-header h3').text($(this).text());
        $(this).closest('.select-box').fadeOut(200, 'linear');

        if (cate == 'dayofweek') {
            var url = $(this).attr('href')
            $('body').append('<div class="loadicon" style="display:block"><span class="circle"></span></div>');

            $('.schedule-block-load').stop().animate({
                'opacity': 0
            }, 600, 'linear', function() {
                if ($('.schedule-block-load').children().length > 0) {
                    $('.schedule-block-load').children().remove();
                }
                var data = {
                    movie_id: $('#movie_id').val(),
                    area_id: $('.select-list[data-cate="location"] .select-box li.selected a').attr('data-target'),
                    date: date
                };
                LoadScheduleDetail(url, data);
            });

        } else {
            $('.select-list[data-cate="dayofweek"] .select-box li:first-child a').trigger('click');
        }

        return false;
    });
    $('.select-list[data-cate="location"] .select-box li:first-child a').trigger('click');
    $('.select-list[data-cate="dayofweek"] .select-box li:first-child a').trigger('click');
</script>