<!--CONTENT-PAGE-->
<div class="content-page">
    <!--PROMOTION-LIST-->
    <div class="promotion-list-content">
        <div class="section-title">
            <h2>Các rap</h2>
        </div>
        <div class="promotion-list-wrap">
            <% cinemas.forEach(function(cinema) { %>
            <div class="promotion-block" data-target="4">
                <div class="promotion-block-pic">
                    <a class="zoom skew" href="javascript:void(0)">zoom</a>
                    <img src="/pictures/c_monday.jpg" alt="pic" />
                </div>
                <div class="promotion-block-txt">
                    <h3><a href="/GUB/lichchieuchitiet/<%-cinemas[0] ? cinemas[0].id : '#' %>/2021-05-24"><%- cinema.Name -%></a></h3>
                    <p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">- </span></span><span style="font-family: arial, helvetica, sans-serif; font-size: 16px;"><%- cinema.Address %></p>
                    <p>&nbsp;</p>
                </div>
                <ul class="l-social">
                    <li>Chia sẻ</li>
                    <li class="l-facebook"><a href="http://www.facebook.com/sharer/sharer.php?u=khuyenmai/c-monday" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=600');return false;">Facebook</a></li>
                    <li class="l-google"><a href="https://plus.google.com/share?url=khuyenmai/c-monday" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=600');return false;">Google</a></li>
                </ul>
            </div>
            <% }) %>
           
        </div>
        <div class="bg-cover" style="background-image:url(/pictures/2_khuyen%20mai/3_back%20ground/bg-promotion-100x100-100x100-100x100.jpg);"></div>
    </div>
    <!--PROMOTION-LIST-->

    <!--PLAYING-MOVIE-->
   

    <!--PLAYING-MOVIE-->


</div>
<!--CONTENT-PAGE-->