<!--CONTENT-PAGE-->
<div class="content-page">
    <!--CINERMA - SYSTEM-->
    <div class="cinema-list-content">
        <div class="cinema-list-wrap">

            <div class="cinema-list">
                <h2>Hệ thống rạp</h2>

                <div class="select-list" data-cate="location">
                    <div class="select-header">
                        <span></span>
                        <h3>Hồ Chí Minh</h3>
                    </div>
                    <div class="select-box">
                        <ul>
                            <li>
                                <a href="javascript:void(0);" data-target="44eb9a3b-a1fb-45a4-898e-1c0ae39e84dc">
                                    <h3>Hồ Chí Minh</h3>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" data-target="506018c7-c3a6-4113-9112-01cbad73d0a7">
                                    <h3>Đà Lạt</h3>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" data-target="e2c7d28c-2f95-444d-b9ff-aa6684af4ad8">
                                    <h3>Bình Dương</h3>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" data-target="3a10a529-c2e3-4d88-8ad5-f3d653849c0d">
                                    <h3>Huế</h3>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" data-target="b27fe633-a4a1-4df4-81e2-23b3da44f7ec">
                                    <h3>Tiền Giang</h3>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="select-list" data-cate="location-cine">
                    <div class="select-header">
                        <span></span>
                        <h3 data-holder="Chọn rạp">Quốc Thanh</h3>
                    </div>
                    <div class="select-box">
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="cinema-address">

                <h2><span class="c_logo" style="background-image:url(pictures/home.png);"></span><span class="c_name">Quốc thanh</span></h2>
                <div class="c_address">271 Nguyễn Trãi, Phường Nguyễn Cư Trinh, Quận 1, Thành phố Hồ Chí Minh</div>
                <div class="c_tel">Đặt vé: <strong><a href="tel:+84 (28) 7300 8881">+84 (28) 7300 8881 </a></strong></div>
            </div>

        </div>
    </div>
    <!--CINERMA - SYSTEM-->

    <!--SCHECULE - LIST-->
    <div class="schedule-list-content">
        <div class="schedule-list-wrap">
            <div class="schedule-load"></div>
        </div>
    </div>
    <!--SCHECULE - LIST-->


    <!--PROMOTION-SECTION-->
    <div class="promotion-content">
        <div class="promotion-wrap">

            <div class="promotion-title">
                <h2>Ưu đãi</h2>
            </div>

            <div class="promotion-slide">

                <div class="promotion-item">
                    <a href="khuyenmai/c-monday">
                        <div class="promotion-pic"><img class="lazyload" data-src="pictures/c_monday.jpg" align="C'MONDAY - ƯU ĐÃI THỨ 2" /></div>
                    </a>
                </div>

                <div class="promotion-item">
                    <a href="khuyenmai/combobigstaruudaithuba">
                        <div class="promotion-pic"><img class="lazyload" data-src="pictures/big-star-_-trang-chủ-web.jpg" align="COMBO BIG STAR - ƯU ĐÃI THỨ BA " /></div>
                    </a>
                </div>

                <div class="promotion-item">
                    <a href="khuyenmai/c-member">
                        <div class="promotion-pic"><img class="lazyload" data-src="pictures/hinhnenCTKM/c'member.jpg" align="C'member - ngày hội thành viên" /></div>
                    </a>
                </div>

                <div class="promotion-item">
                    <a href="khuyenmai/c-student">
                        <div class="promotion-pic"><img class="lazyload" data-src="pictures/hinhnenCTKM/hssv.jpg" align="TẸT GA 45K SUỐT TUẦN TOÀN HỆ THỐNG" /></div>
                    </a>
                </div>

                <div class="promotion-item">
                    <a href="khuyenmai/c-ten">
                        <div class="promotion-pic"><img class="lazyload" data-src="pictures/c_ten.jpg" align="C'Ten - Khuyến mãi tại mốc 10H" /></div>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <!--PROMOTION-SECTION-->

</div>
<!--CONTENT-PAGE-->