<!--CONTENT-PAGE-->
<div class="content-page">
    <div class="sub-tab film">
        <ul>
            <li>
                <a href="javascript:void(0);" data-href="phimdangchieu" data-name="playing">Phim đang chiếu</a
        >
      </li>
      <li class="current">
        <a
          href="javascript:void(0);"
          data-href="phimsapchieu"
          data-name="coming"
          >Phim sắp chiếu</a
        >
      </li>
      <li>
        <a
          href="javascript:void(0);"
          data-href="suatchieudacbiet"
          data-name="special"
          >Suất chiếu đặc biệt</a
        >
      </li>
    </ul>
  </div>

  <!--MOVIE-TAB-->
  <div class="tab-movie">
    <div class="movie-col" data-open="playing">
      <div class="col-inr">
        <div class="film-item cl-org t-2d">
          <a href="phim/0c8b1b99-7b33-43d0-aeaa-9c54e19cf2c7">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/03-2021/lm.jpg"
                alt="LẬT MẶT 48H (C18)"
              />
            </div>
            <div class="film-item-txt">
              <h3>LẬT MẶT 48H (C18)</h3>
              <p>
                Chuyện phim kể về Hiền (Võ Thành Tâm) - một cựu vận động viên võ
                thuật sau khi giải nghệ vì chấn thương đã cùng vợ (Ốc Thanh Vân)
                và con gái về quê thăm gia đình Lâm (Mạc Văn Khoa). Họ bị cuốn
                vào một cuộc rượt đuổi với tay phản diện A Dìn (Huỳnh Đông). Để
                bảo vệ cho gia đình nhỏ, Hiền phải đưa vợ con chạy trốn khắp
                miền Tây sông nước với sự trợ giúp của người bạn thật thà và hài
                hước.
              </p>
            </div>
          </a>
                <div class="film-item-type">
                    <span class="icon-2d"></span>
                    <span class="icon-am3d"></span>
                    <span class="icon-3d"></span>
                </div>
                <div class="film-item-but">
                    <a class="trailler-btn fontsize13" href="trailer?code=07zvDW_nj0U">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/0c8b1b99-7b33-43d0-aeaa-9c54e19cf2c7"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-ppl-dark t-2d">
          <a href="phim/8fef0e82-b317-42e4-a373-815b782bb6be">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/03-2021/bogia1203.jpg"
                alt="BỐ GIÀ (C13)"
              />
            </div>
            <div class="film-item-txt">
              <h3>BỐ GIÀ (C13)</h3>
              <p>
                Bố Già xoay quanh lối sống thường nhật của một xóm lao động
                nghèo, ở đó có bộ tứ anh em Giàu - Sang - Phú - Quý với Ba Sang
                sẽ là nhân vật chính, hay lo chuyện bao đồng nhưng vô cùng
                thương con cái. Câu chuyện phim tập trung về hai cha con Ba Sang
                và Quắn. Dù yêu thương nhau nhưng khoảng cách thế hệ đã đem đến
                những bất đồng lớn giữa hai cha con. Liệu cả hai có thể cho nhau
                cơ hội thấu hiểu đối phương, thu hẹp khoảng cách và tạo nên hạnh
                phúc từ sự khác biệt?
              </p>
            </div>
          </a>
                    <div class="film-item-type">
                        <span class="icon-2d"></span>
                        <span class="icon-am3d"></span>
                        <span class="icon-3d"></span>
                    </div>
                    <div class="film-item-but">
                        <a class="trailler-btn fontsize13" href="trailer?code=cSp3_hlhhQI">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/8fef0e82-b317-42e4-a373-815b782bb6be"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-ppl t-2d">
          <a href="phim/bfcf63be-1f26-494b-9ee5-f34920d9180b">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/03-2021/gocong.jpg"
                alt="GODZILLA VS KONG (C13)"
              />
            </div>
            <div class="film-item-txt">
              <h3>GODZILLA VS KONG (C13)</h3>
              <p>
                Sau các sự kiện diễn ra ở “Godzilla: King of the Monsters”,
                trong thời đại mà các Titans đòi lại quyền làm chủ hành tinh,
                cuộc đấu tranh sinh tồn giữa loài người với chúng đã dẫn đến một
                cuộc chiến không thể tránh khỏi giữa Godzilla và Kong. Trong khi
                Monarch cố gắng làm sáng tỏ nguồn gốc của Titans, thì vẫn còn đó
                một âm mưu đen tối với mục đích là tiêu diệt tất cả các Titan và
                toàn bộ các sinh vật trên Trái Đất ...
              </p>
            </div>
          </a>
                        <div class="film-item-type">
                            <span class="icon-2d"></span>
                            <span class="icon-am3d"></span>
                            <span class="icon-3d"></span>
                        </div>
                        <div class="film-item-but">
                            <a class="trailler-btn fontsize13" href="trailer?code=qLiVIeNl-oI">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/bfcf63be-1f26-494b-9ee5-f34920d9180b"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-pnk t-2d">
          <a href="phim/14458445-acbc-4000-b5ee-d77f16b330c5">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/04-2021/bantay.jpg"
                alt="BÀN TAY DIỆT QUỶ (C18)"
              />
            </div>
            <div class="film-item-txt">
              <h3>BÀN TAY DIỆT QUỶ (C18)</h3>
              <p>
                Sau khi bản thân bỗng nhiên sở hữu "Bàn tay diệt quỷ", võ sĩ MMA
                Yong Hoo (Park Seo Joon thủ vai) đã dấn thân vào hành trình trừ
                tà, trục quỷ đối đầu với Giám Mục Bóng Tối (Woo Do Hwan) – tên
                quỷ Satan đột lốt người. Từ đó sự thật về cái chết của cha Yong
                Hoo cũng dần được hé lộ cũng như nguyên nhân anh trở thành
                "người được chọn".
              </p>
            </div>
          </a>
                            <div class="film-item-type">
                                <span class="icon-2d"></span>
                                <span class="icon-am3d"></span>
                                <span class="icon-3d"></span>
                            </div>
                            <div class="film-item-but">
                                <a class="trailler-btn fontsize13" href="trailer?code=3e3L1ahR42E">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/14458445-acbc-4000-b5ee-d77f16b330c5"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-org t-2d">
          <a href="phim/6f7e7528-a137-4dc5-b3ae-75a605296fac">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/04-2021/seobok.jpg"
                alt="NGƯỜI NHÂN BẢN (C16)"
              />
            </div>
            <div class="film-item-txt">
              <h3>NGƯỜI NHÂN BẢN (C16)</h3>
              <p>
                Người Nhân Bản kể về Ki-hun – một cựu đặc vụ sống tách biệt với
                thế giới bên ngoài kể từ sau biến cố trong quá khứ, chấp nhận
                thực hiện nhiệm vụ cuối cùng từ Cơ quan Tình báo. Anh phải chịu
                trách nhiệm di chuyển Seobok, một đối tượng thử nghiệm được tạo
                ra bằng cách nhân bản tế bào gốc và biến đổi gen. Tuy nhiên mọi
                việc không hề suôn sẻ với họ, khi Seobok trở thành mục tiêu của
                các thế lực khác với những tham vọng và âm mưu khó đoán. Ki-hun
                sẽ vượt qua tất cả những hiểm nguy đang chực chờ phía trước, hay
                Seobok cuối cùng sẽ rơi vào tay kẻ muốn chiếm đoạt vận mệnh của
                toàn nhân loại?
              </p>
            </div>
          </a>
                                <div class="film-item-type">
                                    <span class="icon-2d"></span>
                                    <span class="icon-am3d"></span>
                                    <span class="icon-3d"></span>
                                </div>
                                <div class="film-item-but">
                                    <a class="trailler-btn fontsize13" href="trailer?code=Cv68bkogRU4">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/6f7e7528-a137-4dc5-b3ae-75a605296fac"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-ppl-dark t-2d">
          <a href="phim/ca903c51-35e1-4494-bf2a-82a386fb2add">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/04-2021/ong.jpg"
                alt="(DUB) ONG NHÍ PHIÊU LƯU KÝ 2D: GIẢI CỨU CÔNG CHÚA KIẾN"
              />
            </div>
            <div class="film-item-txt">
              <h3>(DUB) ONG NHÍ PHIÊU LƯU KÝ 2D: GIẢI CỨU CÔNG CHÚA KIẾN</h3>
              <p>
                Quá háo hức chào đón mùa xuân, Maya và Willy đã thức dậy khỏi
                giấc ngủ đông sớm hơn thời gian dự định. Từ đây, đôi bạn vô tình
                phải nhận một nhiệm vụ đặc biệt – bảo vệ và đưa quả trứng vàng
                đến ngôi nhà mới. Tuy nhiên, mọi rắc rối bắt đầu ập đến khi quả
                trứng nứt và cô công chúa kiến bé nhỏ ra đời. Maya, Willy và
                những người bạn đồng hành phải phối hợp cùng nhau để chăm sóc và
                bảo vệ công chúa kiến khỏi vô vàn nguy hiểm xung quanh. Trong
                hành trình đầy bất ngờ và gian nan này, Willy dần dần khám phá
                được một khía cạnh khác của bản thân – dịu dàng và kiên nhẫn với
                cô công chúa nhỏ. Bộ đôi Maya và Willy cũng đã trưởng thành hơn
                và tình bạn giữa họ càng trở nên thêm khăng khít và gắn bó.
              </p>
            </div>
          </a>
                                    <div class="film-item-type">
                                        <span class="icon-2d"></span>
                                        <span class="icon-am3d"></span>
                                        <span class="icon-3d"></span>
                                    </div>
                                    <div class="film-item-but">
                                        <a class="trailler-btn fontsize13" href="trailer?code=x34O2WfbMbk">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/ca903c51-35e1-4494-bf2a-82a386fb2add"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-ppl t-2d">
          <a href="phim/9fd58dbb-5646-42f2-9399-673b31315373">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/04-2021/hypnosis.jpg"
                alt="CON LẮC TÀ THUẬT (C18)"
              />
            </div>
            <div class="film-item-txt">
              <h3>CON LẮC TÀ THUẬT (C18)</h3>
              <p>
                Do-hyun (David LEE) là một sinh viên đang theo học chuyên ngành
                Tiếng Anh tại một trường đại học, sau khi nhận được lời đề nghị
                từ Giáo sư YEO (SEO Yi-sook) Do-hyun đã đồng ý giúp đỡ một sinh
                viên trao đổi đang phải trải qua điều trị tâm lý sau một tai nạn
                bí ẩn. Qua lời giới thiệu của người bạn này, Do-hyun đã được
                Giáo sư CHOI (SON Byung-ho) thôi miên. Tuy nhiên, những hình ảnh
                rùng rợn liên quan đến một vụ án trong quá khứ luôn đeo bám
                Do-hyun kể từ khi bị đánh thức sau lần thôi miên ấy, dù đó là ký
                ức chưa từng tổn tại trong trí nhớ của anh. Trong khi ấy, hội
                bạn chơi lâu năm của Do-hyun đồng thời phải đối mặt với các tai
                nạn bí ẩn hay bị tra tấn bởi những ảo giác kỳ lạ.
              </p>
            </div>
          </a>
                                        <div class="film-item-type">
                                            <span class="icon-2d"></span>
                                            <span class="icon-am3d"></span>
                                            <span class="icon-3d"></span>
                                        </div>
                                        <div class="film-item-but">
                                            <a class="trailler-btn fontsize13" href="trailer?code=">TRAILER</a>
                                            <a class="cart-btn fontsize13" href="lichchieu/9fd58dbb-5646-42f2-9399-673b31315373">Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-pnk t-2d">
          <a href="phim/5351111b-8d29-4f91-a4f4-add77c151177">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/04-2021/conan.jpg"
                alt="DETECTIVE CONAN 2D PĐ (C13): VIÊN ĐẠN ĐỎ"
              />
            </div>
            <div class="film-item-txt">
              <h3>DETECTIVE CONAN 2D PĐ (C13): VIÊN ĐẠN ĐỎ</h3>
              <p>
                Nhật Bản đang tổ chức lễ kỷ niệm World Sports Games (WSG), sự
                kiện thể thao lớn nhất thế giới tại Tokyo. "Shinkansen", con tàu
                siêu dẫn ống chân không đầu tiên trên thế giới được chế tạo từ
                công nghệ mới nhất của Nhật Bản sẽ được mở chạy và có thời gian
                trùng với thời khắc khai mạc WSG. Con tàu được thiết lập chạy từ
                Ga Shin Nagoya đến Ga Tokyo với tốc độ 1000km/h. Tuy nhiên, một
                sự cố kỳ lạ đã diễn ra trong bữa tiệc của các nhà tài trợ nổi
                tiếng, theo sau đó chính là hàng loạt vụ bắt cóc các giám đốc
                điều hành. Conan đã liên kết vụ này về vụ án bắt cóc hàng loạt
                liên quan đến WSG vào 15 năm trước ở Boston.
              </p>
            </div>
          </a>
                                            <div class="film-item-type">
                                                <span class="icon-2d"></span>
                                                <span class="icon-am3d"></span>
                                                <span class="icon-3d"></span>
                                            </div>
                                            <div class="film-item-but">
                                                <a class="trailler-btn fontsize13" href="trailer?code=N0eco36cNAw">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/5351111b-8d29-4f91-a4f4-add77c151177"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-org t-2d">
          <a href="phim/17d24a16-8a75-4b9e-b533-f2b4f7366ee2">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/04-2021/ong.jpg"
                alt="ONG NHÍ PHIÊU LƯU KÝ 2D PĐ: GIẢI CỨU CÔNG CHÚA KIẾN"
              />
            </div>
            <div class="film-item-txt">
              <h3>ONG NHÍ PHIÊU LƯU KÝ 2D PĐ: GIẢI CỨU CÔNG CHÚA KIẾN</h3>
              <p>
                Quá háo hức chào đón mùa xuân, Maya và Willy đã thức dậy khỏi
                giấc ngủ đông sớm hơn thời gian dự định. Từ đây, đôi bạn vô tình
                phải nhận một nhiệm vụ đặc biệt – bảo vệ và đưa quả trứng vàng
                đến ngôi nhà mới. Tuy nhiên, mọi rắc rối bắt đầu ập đến khi quả
                trứng nứt và cô công chúa kiến bé nhỏ ra đời. Maya, Willy và
                những người bạn đồng hành phải phối hợp cùng nhau để chăm sóc và
                bảo vệ công chúa kiến khỏi vô vàn nguy hiểm xung quanh. Trong
                hành trình đầy bất ngờ và gian nan này, Willy dần dần khám phá
                được một khía cạnh khác của bản thân – dịu dàng và kiên nhẫn với
                cô công chúa nhỏ. Bộ đôi Maya và Willy cũng đã trưởng thành hơn
                và tình bạn giữa họ càng trở nên thêm khăng khít và gắn bó.
              </p>
            </div>
          </a>
                                                <div class="film-item-type">
                                                    <span class="icon-2d"></span>
                                                    <span class="icon-am3d"></span>
                                                    <span class="icon-3d"></span>
                                                </div>
                                                <div class="film-item-but">
                                                    <a class="trailler-btn fontsize13" href="trailer?code=x34O2WfbMbk">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/17d24a16-8a75-4b9e-b533-f2b4f7366ee2"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-ppl-dark t-2d">
          <a href="phim/948aa577-2e4f-45d9-a51c-ef298c4edde2">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/04-2021/boss.jpg"
                alt="TRÙM CUỐI SIÊU ĐẲNG (C18)"
              />
            </div>
            <div class="film-item-txt">
              <h3>TRÙM CUỐI SIÊU ĐẲNG (C18)</h3>
              <p>
                Mắc kẹt trong một vòng lặp thời gian ngay đúng ngày anh ta bị
                giết chết, một cựu đặc vụ Roy Pulver (Frank Gillo) đã phát hiện
                ra manh mới về một dự án bí mật của chính phủ có thể giải đáp bí
                ẩn đằng sau cái chết vô thời hạn của anh ta. Roy buộc lòng phải
                chạy đua với thời gian và truy bắt tên Colonel Ventor (Mel
                Gibson), đầu sỏ của dự án chính phủ này. Trong lúc đó, anh phải
                thoát khỏi cuộc vây bắt của những tên sát thủ tàn ác quyết tâm
                ngăn cản Roy tìm ra được sự thật. Liệu Roy Pulver có thể thoát
                khỏi vòng lặp này và cứu lấy gia đình đồng thời sống lại một lần
                nữa vào ngày mai?
              </p>
            </div>
          </a>
                                                    <div class="film-item-type">
                                                        <span class="icon-2d"></span>
                                                        <span class="icon-am3d"></span>
                                                        <span class="icon-3d"></span>
                                                    </div>
                                                    <div class="film-item-but">
                                                        <a class="trailler-btn fontsize13" href="trailer?code=WpbsJUX41xs">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/948aa577-2e4f-45d9-a51c-ef298c4edde2"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-ppl t-2d">
          <a href="phim/79a3369d-1c7c-4c1b-b93e-092bc0dc1aa0">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/04-2021/conan.jpg"
                alt="(DUB) THÁM TỬ LỪNG DANH CONAN 2D LT: VIÊN ĐẠN ĐỎ"
              />
            </div>
            <div class="film-item-txt">
              <h3>(DUB) THÁM TỬ LỪNG DANH CONAN 2D LT: VIÊN ĐẠN ĐỎ</h3>
              <p>
                Nhật Bản đang tổ chức lễ kỷ niệm World Sports Games (WSG), sự
                kiện thể thao lớn nhất thế giới tại Tokyo. "Shinkansen", con tàu
                siêu dẫn ống chân không đầu tiên trên thế giới được chế tạo từ
                công nghệ mới nhất của Nhật Bản sẽ được mở chạy và có thời gian
                trùng với thời khắc khai mạc WSG. Con tàu được thiết lập chạy từ
                Ga Shin Nagoya đến Ga Tokyo với tốc độ 1000km/h. Tuy nhiên, một
                sự cố kỳ lạ đã diễn ra trong bữa tiệc của các nhà tài trợ nổi
                tiếng, theo sau đó chính là hàng loạt vụ bắt cóc các giám đốc
                điều hành. Conan đã liên kết vụ này về vụ án bắt cóc hàng loạt
                liên quan đến WSG vào 15 năm trước ở Boston.
              </p>
            </div>
          </a>
                                                        <div class="film-item-type">
                                                            <span class="icon-2d"></span>
                                                            <span class="icon-am3d"></span>
                                                            <span class="icon-3d"></span>
                                                        </div>
                                                        <div class="film-item-but">
                                                            <a class="trailler-btn fontsize13" href="trailer?code=N0eco36cNAw">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/79a3369d-1c7c-4c1b-b93e-092bc0dc1aa0"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-pnk t-2d">
          <a href="phim/13545aa5-4d62-4405-98ef-75b3c6d1509e">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/05-2021/nbd.jpg"
                alt="KẺ VÔ DANH (C18)"
              />
            </div>
            <div class="film-item-txt">
              <h3>KẺ VÔ DANH (C18)</h3>
              <p>
                Đôi khi người đàn ông mà bạn không để ý lại là người nguy hiểm
                nhất. Hutch Mansell, một người cha và người chồng bị đánh giá
                thấp và bị coi thường, luôn coi thường sự phẫn nộ của cuộc đời
                và không bao giờ lùi bước. Một kẻ vô danh.
              </p>
            </div>
          </a>
                                                            <div class="film-item-type">
                                                                <span class="icon-2d"></span>
                                                                <span class="icon-am3d"></span>
                                                                <span class="icon-3d"></span>
                                                            </div>
                                                            <div class="film-item-but">
                                                                <a class="trailler-btn fontsize13" href="trailer?code=">TRAILER</a>
                                                                <a class="cart-btn fontsize13" href="lichchieu/13545aa5-4d62-4405-98ef-75b3c6d1509e">Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-org t-2d">
          <a href="phim/26efa74e-0b27-4e9d-bb01-e50d62584a36">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/04-2021/warrior.jpg"
                alt="CHIẾN BINH CUỐI CÙNG (C13): CỘI NGUỒN CỦA QUỶ"
              />
            </div>
            <div class="film-item-txt">
              <h3>CHIẾN BINH CUỐI CÙNG (C13): CỘI NGUỒN CỦA QUỶ</h3>
              <p></p>
            </div>
          </a>
                                                                <div class="film-item-type">
                                                                    <span class="icon-2d"></span>
                                                                    <span class="icon-am3d"></span>
                                                                    <span class="icon-3d"></span>
                                                                </div>
                                                                <div class="film-item-but">
                                                                    <a class="trailler-btn fontsize13" href="trailer?code=">TRAILER</a>
                                                                    <a class="cart-btn fontsize13" href="lichchieu/26efa74e-0b27-4e9d-bb01-e50d62584a36">Mua vé</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="movie-col" data-open="coming">
      <div class="col-inr">
        <div class="film-item cl-org t-2d">
          <a href="phim/49d55121-5177-4811-9aee-91bfcfc5acb5">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/04-2021/tthm.jpg"
                alt="THIÊN THẦN HỘ MỆNH (C18)"
              />
            </div>
            <div class="film-item-txt">
              <h3>THIÊN THẦN HỘ MỆNH (C18)</h3>
              <p>
                Cái chết của một cô ca sĩ nổi tiếng dẫn đến sự thành công của
                một cô ca sĩ trẻ khác. Câu chuyện này có liên quan như thế nào
                đến sự giúp đỡ của một "thiên thần hộ mệnh"?
              </p>
              <p>Khởi chiếu: Từ 27/04/2021</p>
            </div>
          </a>
                                                                    <div class="film-item-type">
                                                                        <span class="icon-2d"></span>
                                                                        <span class="icon-am3d"></span>
                                                                        <span class="icon-3d"></span>
                                                                    </div>
                                                                    <div class="film-item-but">
                                                                        <a class="trailler-btn fontsize13" href="trailer?code=DrIepedieb8">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/49d55121-5177-4811-9aee-91bfcfc5acb5"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-ppl-dark t-2d">
          <a href="phim/47ac3a27-79ca-4975-b76a-7fff8c5ae5b5">
            <div class="film-item-pic">
              <img src="pictures/Cinestar/04-2021/trangti.jpg" alt="TRẠNG TÍ" />
            </div>
            <div class="film-item-txt">
              <h3>TRẠNG TÍ</h3>
              <p>
                Trạng Tí Phiêu Lưu Kí là chuyến phiêu lưu vượt ngoài trí tưởng
                tượng của bộ tứ Tí - Sửu - Dần - Mẹo khi phải cùng nhau vượt qua
                rất nhiều thử thách để khám phá bí ẩn về cha Tí. Truyền thuyết
                Hai Hậu sinh ra Tí vì tựa vào cục đá nghe thật khó tin, nên Tí
                trở thành tâm điểm chọc phá và coi thường bởi những người xấu
                tính trong làng. Trên hành trình, bốn đứa trẻ nhiều lần gặp rắc
                rối, hiểu lầm, tai nạn. Và bất ngờ, bốn đứa trẻ lại bị sơn tặc
                bắt cóc và bị ép đối đầu trước một âm mưu không thể lường trước
                được. Nhưng, nhờ những trải nghiệm và có bạn bè bên cạnh những
                lúc khó khăn đó, Tí dần hoàn thiện tính cách bản thân, bớt háo
                thắng và biết quan tâm đến người khác, hiểu rằng, cái lý đôi khi
                không quan trọng bằng cái tình mà con người ta dành cho nhau.
              </p>
              <p>Khởi chiếu: Từ 28/04/2021</p>
            </div>
          </a>
                                                                        <div class="film-item-type">
                                                                            <span class="icon-2d"></span>
                                                                            <span class="icon-am3d"></span>
                                                                            <span class="icon-3d"></span>
                                                                        </div>
                                                                        <div class="film-item-but">
                                                                            <a class="trailler-btn fontsize13" href="trailer?code=POkFZ_1sbfc">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/47ac3a27-79ca-4975-b76a-7fff8c5ae5b5"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-ppl t-2d">
          <a href="phim/59d985a6-e0b1-48f5-8d20-569fb17b5e46">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/05-2021/cauhon.jpg"
                alt="CẦU HỒN (C18)"
              />
            </div>
            <div class="film-item-txt">
              <h3>CẦU HỒN (C18)</h3>
              <p>
                Tại một trường nội trú danh tiếng dành cho nữ sinh, một nhóm bạn
                quyết định chơi trò chơi gọi hồn một cựu học sinh đã mất. Tuy
                nhiên, sau buổi cầu hồn, một nữ sinh trong nhóm là Kerrie đã
                chết một cách bí ẩn. Nữ sinh mới Camille Meadows (Suki
                Waterhouse) nhập học ngôi trường này và được phân vào phòng ký
                túc xá ngày trước của nữ sinh xấu số. Sau đó, Camille cảm thấy
                những sự việc kì quái xảy ra bên trong ngôi trường, và dần phát
                hiện được bí mật về cái chết của Kerrie. Tuy nhiên, sau khi
                Camille quyết định tìm kiếm sự thật, nhóm nữ sinh từng tham gia
                buổi cầu hồn năm xưa lần lượt mất tích một cách bí ẩn. Liệu có
                thế lực ma quái nào gây nên những sự việc khủng khiếp này?
              </p>
              <p>Khởi chiếu: Từ 07/05/2021</p>
            </div>
          </a>
                                                                            <div class="film-item-type">
                                                                                <span class="icon-2d"></span>
                                                                                <span class="icon-am3d"></span>
                                                                                <span class="icon-3d"></span>
                                                                            </div>
                                                                            <div class="film-item-but">
                                                                                <a class="trailler-btn fontsize13" href="trailer?code=McZu-Q2jio4">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/59d985a6-e0b1-48f5-8d20-569fb17b5e46"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-pnk t-2d">
          <a href="phim/4e92f348-1b0a-4a17-90a5-86a60b1f6e4c">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/03-2021/demtroibuoc.jpg"
                alt="ĐÊM TRÓI BUỘC"
              />
            </div>
            <div class="film-item-txt">
              <h3>ĐÊM TRÓI BUỘC</h3>
              <p>
                Một cặp vợ chồng người Iran và cô con gái một tuổi của họ sống ở
                Mỹ. Họ bị mắc kẹt bên trong một khách sạn cũ nơi các thế lực
                siêu nhiên quỷ quyệt đang trú ngụ. Những hiện tượng kì lạ xảy ra
                khiến cả hai vợ chồng phải đối mặt với những bí mật giữa họ
                trong một đêm kinh hoàng không bao giờ kết thúc
              </p>
              <p>Khởi chiếu: Từ 07/05/2021</p>
            </div>
          </a>
                                                                                <div class="film-item-type">
                                                                                    <span class="icon-2d"></span>
                                                                                    <span class="icon-am3d"></span>
                                                                                    <span class="icon-3d"></span>
                                                                                </div>
                                                                                <div class="film-item-but">
                                                                                    <a class="trailler-btn fontsize13" href="trailer?code=">TRAILER</a>
                                                                                    <a class="cart-btn fontsize13" href="lichchieu/4e92f348-1b0a-4a17-90a5-86a60b1f6e4c">Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-org t-2d">
          <a href="phim/7db5ae00-c91d-4b39-961d-5dc35a8528c5">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/05-2021/hungthan.jpg"
                alt="HUNG THẦN TRẮNG"
              />
            </div>
            <div class="film-item-txt">
              <h3>HUNG THẦN TRẮNG</h3>
              <p>
                Bộ phim kể về vụ truy sát kinh hoàng bởi loài cá mập trắng khổng
                lồ diễn ra tại Hell’s Reef, cách xa bờ 200 dặm đã khiến nhiều
                người thiệt mạng. Trước khi án mạng xảy ra, chuyến đi có Kaz và
                Charlie – đôi tình nhân lâu năm, đồng thời là những người điều
                hành thủy phi cơ. Ba vị khách của họ là doanh nhân người Nhật,
                Joji cùng vợ – Michelle và đầu bếp Benny. Tuy nhiên, vào lúc
                phát hiện ra thi thể của một người đàn ông chỉ còn lại phần thân
                đã trầy xước cùng những vết cắn được Charlie (một cựu sinh viên
                ngành sinh vật biển) xác nhận là do cá mập gây ra, kỳ nghỉ trong
                mơ bỗng biến thành thảm kịch khi cả 5 người phải giành giật sự
                sống chỉ với một chiếc phao cứu hộ giữa biển cả mênh mông và kẻ
                săn mồi trực diện chính là hung thần khát máu thống trị đại
                dương.
              </p>
              <p>Khởi chiếu: Từ 07/05/2021</p>
            </div>
          </a>
                                                                                    <div class="film-item-type">
                                                                                        <span class="icon-2d"></span>
                                                                                        <span class="icon-am3d"></span>
                                                                                        <span class="icon-3d"></span>
                                                                                    </div>
                                                                                    <div class="film-item-but">
                                                                                        <a class="trailler-btn fontsize13" href="trailer?code=">TRAILER</a>
                                                                                        <a class="cart-btn fontsize13" href="lichchieu/7db5ae00-c91d-4b39-961d-5dc35a8528c5">Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-ppl-dark t-2d">
          <a href="phim/fbd8590e-7c69-48bc-a094-0d80f0314d42">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/05-2021/hoangtu.jpg"
                alt="HOÀNG TỬ HÁT RONG (C13)"
              />
            </div>
            <div class="film-item-txt">
              <h3>HOÀNG TỬ HÁT RONG (C13)</h3>
              <p>
                Bộ phim xoay quanh câu chuyện của chàng ca sĩ đường phố trẻ tuổi
                Ji Hoon cùng với nhà sản xuất âm nhạc Min Soo. Trong một lần
                tình cờ, Min Soo đã phát hiện ra tài năng của Ji Hoon và muốn
                đào tạo anh trở thành một ca sĩ, tuy nhiên, Ji Hoon lại mắc hội
                chứng sợ sân khấu. Vậy nên, Min Soo đã nghĩ ra cách là để Ji
                Hoon được thể hiện tài năng của mình trong...một chiếc thùng
                giấy carton, và cả 2 người đàn ông đã cùng rong ruổi khắp nơi để
                biểu diễn, chờ đợi một cơ hội để Ji Hoon được tự tin tỏa sáng
                trên sân khấu mà không còn cần đến chiếc hộp carton bao quanh
                mình.
              </p>
              <p>Khởi chiếu: Từ 07/05/2021</p>
            </div>
          </a>
                                                                                        <div class="film-item-type">
                                                                                            <span class="icon-2d"></span>
                                                                                            <span class="icon-am3d"></span>
                                                                                            <span class="icon-3d"></span>
                                                                                        </div>
                                                                                        <div class="film-item-but">
                                                                                            <a class="trailler-btn fontsize13" href="trailer?code=f55BMFaYg2I">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/fbd8590e-7c69-48bc-a094-0d80f0314d42"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-ppl t-2d">
          <a href="phim/5bd8c3ad-5f9b-45be-a8fa-35ee9d671aca">
            <div class="film-item-pic">
              <img src="pictures/Cinestar/05-2021/giamcam.jpg" alt="GIAM CẦM" />
            </div>
            <div class="film-item-txt">
              <h3>GIAM CẦM</h3>
              <p>
                Giam cầm vô cớ bởi chính phủ Hoa Kỳ, Mohamedou Ould Slahi (Tahar
                Rahim) bị bỏ rơi trong vô vọng suốt nhiều năm dù không bị kết
                án. Luật sư Nacy Hollander (Jodie Foster) và Teri Duncan
                (Shailene Woodley) đối mặt với hi vọng mong manh và hàng loạt
                cản trở từ chính phủ để đòi lại công bằng cho thân chủ. Cùng với
                sự trợ giúp của Trung Tá Stuart Couch (Benedict Cumberbatch) họ
                đã tìm ra được những bí mật kinh hoàng và âm mưu đen tối phía
                sau những vụ bắt bớ.
              </p>
              <p>Khởi chiếu: Từ 07/05/2021</p>
            </div>
          </a>
                                                                                            <div class="film-item-type">
                                                                                                <span class="icon-2d"></span>
                                                                                                <span class="icon-am3d"></span>
                                                                                                <span class="icon-3d"></span>
                                                                                            </div>
                                                                                            <div class="film-item-but">
                                                                                                <a class="trailler-btn fontsize13" href="trailer?code=nJVwnWW6wE0">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/5bd8c3ad-5f9b-45be-a8fa-35ee9d671aca"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-pnk t-2d">
          <a href="phim/527a5bd5-c9d9-4e15-9f5e-8c139ae77dc6">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/05-2021/bnn.jpg"
                alt="BẪY NGỌT NGÀO"
              />
            </div>
            <div class="film-item-txt">
              <h3>BẪY NGỌT NGÀO</h3>
              <p>
                Bẫy Ngọt Ngào vẫn xoay quanh 4 người bạn thân thiết trong “hội
                ế” là Camy, Quỳnh Lam, Linh Đan và Ken. Tuy nhiên, câu chuyện
                phim diễn ra ở thời điểm “hội ế” đã có một thời gian dài không
                gặp nhau do mỗi người bận theo đuổi cuộc sống và sự nghiệp riêng
                của mình. Họ chỉ hội ngộ vào kỷ niệm ngày cưới 3 năm của Camy,
                sau đó đối mặt với sóng gió mới trong cuộc sống và những mối
                quan hệ riêng của mỗi người.
              </p>
              <p>Khởi chiếu: Từ 14/05/2021</p>
            </div>
          </a>
                                                                                                <div class="film-item-type">
                                                                                                    <span class="icon-2d"></span>
                                                                                                    <span class="icon-am3d"></span>
                                                                                                    <span class="icon-3d"></span>
                                                                                                </div>
                                                                                                <div class="film-item-but">
                                                                                                    <a class="trailler-btn fontsize13" href="trailer?code=yFQb8JxWu6U">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/527a5bd5-c9d9-4e15-9f5e-8c139ae77dc6"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-org t-2d">
          <a href="phim/ecfc76bf-aa8a-440f-a177-7e834d660151">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/05-2021/gintama.jpg"
                alt="GINTAMA: THE FINAL"
              />
            </div>
            <div class="film-item-txt">
              <h3>GINTAMA: THE FINAL</h3>
              <p>
                Nhằm kỉ niệm 15 năm thương hiệu Gintama, BẢN MOVIE CUỐI CÙNG từ
                tựa anime bựa lầy bậc nhất - GINTAMA: THE VERY FINAL sẽ chính
                thức cập bến Việt Nam ngày 14/05.
              </p>
              <p>Khởi chiếu: Từ 14/05/2021</p>
            </div>
          </a>
                                                                                                    <div class="film-item-type">
                                                                                                        <span class="icon-2d"></span>
                                                                                                        <span class="icon-am3d"></span>
                                                                                                        <span class="icon-3d"></span>
                                                                                                    </div>
                                                                                                    <div class="film-item-but">
                                                                                                        <a class="trailler-btn fontsize13" href="trailer?code=">TRAILER</a>
                                                                                                        <a class="cart-btn fontsize13" href="lichchieu/ecfc76bf-aa8a-440f-a177-7e834d660151">Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-ppl-dark t-2d">
          <a href="phim/4ceca8ba-b3c8-47a5-acb3-3bcda2e53e55">
            <div class="film-item-pic">
              <img src="pictures/Cinestar/05-2021/i.jpg" alt="ĐỨA BÉ" />
            </div>
            <div class="film-item-txt">
              <h3>ĐỨA BÉ</h3>
              <p>
                Do miếng cơm manh áo, cô sinh viên A Young đành chấp nhận công
                việc trông trẻ cho bà mẹ đơn thân Young Chae. Tuy nhiên khi phát
                hiện chị ta vì quá khó khăn mà định đưa đứa bé vào trại mồ côi,
                nàng ta đã quyết tâm ngăn cản vì A Young cũng là một đứa trẻ lớn
                lên trong cô nhi viện với nhiều đau thương và đơn độc.
              </p>
              <p>Khởi chiếu: Từ 14/05/2021</p>
            </div>
          </a>
                                                                                                        <div class="film-item-type">
                                                                                                            <span class="icon-2d"></span>
                                                                                                            <span class="icon-am3d"></span>
                                                                                                            <span class="icon-3d"></span>
                                                                                                        </div>
                                                                                                        <div class="film-item-but">
                                                                                                            <a class="trailler-btn fontsize13" href="trailer?code=LFmneqBb6Ug">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/4ceca8ba-b3c8-47a5-acb3-3bcda2e53e55"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-ppl t-2d">
          <a href="phim/3321f596-feb0-4cbf-9b80-fbc9959d1093">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/05-2021/kenguyen.jpg"
                alt="KẺ NGUYỀN TA CHẾT (C18)"
              />
            </div>
            <div class="film-item-txt">
              <h3>KẺ NGUYỀN TA CHẾT (C18)</h3>
              <p>
                Một chuyên gia sinh tồn có nhiệm vụ bảo vệ nhân chứng một vụ
                giết người đang bị truy sát giữa rừng.
              </p>
              <p>Khởi chiếu: Từ 14/05/2021</p>
            </div>
          </a>
                                                                                                            <div class="film-item-type">
                                                                                                                <span class="icon-2d"></span>
                                                                                                                <span class="icon-am3d"></span>
                                                                                                                <span class="icon-3d"></span>
                                                                                                            </div>
                                                                                                            <div class="film-item-but">
                                                                                                                <a class="trailler-btn fontsize13" href="trailer?code=MwdUm9yt5iI">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/3321f596-feb0-4cbf-9b80-fbc9959d1093"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-pnk t-2d">
          <a href="phim/0225914e-c0f1-4c2a-806f-2359edc3eac0">
            <div class="film-item-pic">
              <img src="pictures/Cinestar/05-2021/bongde.jpg" alt="BÓNG ĐÈ" />
            </div>
            <div class="film-item-txt">
              <h3>BÓNG ĐÈ</h3>
              <p>
                Bóng Đè khai thác hiện tượng tâm linh bí ẩn này lên màn ảnh. Sau
                khi chuyển đế nhà mới, hai chị em Yến và Linh (Lâm Thanh Mỹ thủ
                vai) liên tục bắt gặp những sự kiện kỳ lạ, từ những cái bóng lẩn
                khuất cho tới những “vị khách không mời” đầy ghê rợn mỗi khi màn
                đêm buông xuống.
              </p>
              <p>Khởi chiếu: Từ 14/05/2021</p>
            </div>
          </a>
                                                                                                                <div class="film-item-type">
                                                                                                                    <span class="icon-2d"></span>
                                                                                                                    <span class="icon-am3d"></span>
                                                                                                                    <span class="icon-3d"></span>
                                                                                                                </div>
                                                                                                                <div class="film-item-but">
                                                                                                                    <a class="trailler-btn fontsize13" href="trailer?code=WhN-T-ui7Mw">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/0225914e-c0f1-4c2a-806f-2359edc3eac0"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-org t-2d">
          <a href="phim/561bfb6e-7bd5-4cb8-a686-2baf3110d2c4">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/05-2021/hodianguc.jpg"
                alt="HỐ ĐỊA NGỤC"
              />
            </div>
            <div class="film-item-txt">
              <h3>HỐ ĐỊA NGỤC</h3>
              <p>
                Hố khoan Kola Superdeep của Nga được khoan sâu 12.000m vào lòng
                đất – là cơ sở nghiên cứu bí mật sâu nhất thế giới được ghi lại
                cho đến nay. Vào năm 1984, các nhà khoa học bắt đầu nghe được
                những âm thanh lạ vọng từ hố sâu Kola và quyết định đóng cửa cơ
                sở nghiên cứu này. Một nhóm nghiên cứu đã quyết định thám hiểm
                hố khoan để tìm ra bí mật mà nơi đây đang ẩn giấu. Tuy nhiên,
                từng thành viên trong nhóm nghiên cứu đều lần lượt bỏ mạng.
                Những gì họ tìm thấy kinh khủng hơn bất cứ điều từng được ghi
                chép lại về chiếc hố tử thần này.
              </p>
              <p>Khởi chiếu: Từ 14/05/2021</p>
            </div>
          </a>
                                                                                                                    <div class="film-item-type">
                                                                                                                        <span class="icon-2d"></span>
                                                                                                                        <span class="icon-am3d"></span>
                                                                                                                        <span class="icon-3d"></span>
                                                                                                                    </div>
                                                                                                                    <div class="film-item-but">
                                                                                                                        <a class="trailler-btn fontsize13" href="trailer?code=Imtg6a3NvoI">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/561bfb6e-7bd5-4cb8-a686-2baf3110d2c4"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-ppl-dark t-2d">
          <a href="phim/60ed77c7-69e8-48b0-9b3f-62d05d990e6d">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/05-2021/two.jpg"
                alt="TWO BUDDIES AND A BADGER - THE GREAT BIG BEAST"
              />
            </div>
            <div class="film-item-txt">
              <h3>TWO BUDDIES AND A BADGER - THE GREAT BIG BEAST</h3>
              <p></p>
              <p>Khởi chiếu: Từ 21/05/2021</p>
            </div>
          </a>
                                                                                                                        <div class="film-item-type">
                                                                                                                            <span class="icon-2d"></span>
                                                                                                                            <span class="icon-am3d"></span>
                                                                                                                            <span class="icon-3d"></span>
                                                                                                                        </div>
                                                                                                                        <div class="film-item-but">
                                                                                                                            <a class="trailler-btn fontsize13" href="trailer?code=">TRAILER</a>
                                                                                                                            <a class="cart-btn fontsize13" href="lichchieu/60ed77c7-69e8-48b0-9b3f-62d05d990e6d">Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-ppl t-2d">
          <a href="phim/b628550e-b3e7-40af-bbb4-8f20cf5a7974">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/05-2021/ff.jpg"
                alt="FAST & FURIOUS 9"
              />
            </div>
            <div class="film-item-txt">
              <h3>FAST & FURIOUS 9</h3>
              <p>
                Sau khi thoát chết ở cuối phần 8, hacker Cipher sẽ quay trở lại
                với nhiều chiêu trò nguy hiểm, nhằm hạ gục Dominic và gia đình
                anh.
              </p>
              <p>Khởi chiếu: Từ 28/05/2021</p>
            </div>
          </a>
                                                                                                                            <div class="film-item-type">
                                                                                                                                <span class="icon-2d"></span>
                                                                                                                                <span class="icon-am3d"></span>
                                                                                                                                <span class="icon-3d"></span>
                                                                                                                            </div>
                                                                                                                            <div class="film-item-but">
                                                                                                                                <a class="trailler-btn fontsize13" href="trailer?code=gHx4BaNq9kw">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/b628550e-b3e7-40af-bbb4-8f20cf5a7974"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-pnk t-2d">
          <a href="phim/cf7634af-f815-4619-bd11-9c333eb151ea">
            <div class="film-item-pic">
              <img src="pictures/Cinestar/05-2021/cruel.jpg" alt="CRUELLA" />
            </div>
            <div class="film-item-txt">
              <h3>CRUELLA</h3>
              <p>
                Cruella là bản live action về phần tiền truyện của một trong
                những nhân vật phản diện mang tính biểu tượng, huyền thoại
                Cruella de Vil. “Cruella” lấy bối cảnh ở London những năm 1970
                theo chân cô lao công thông minh & sáng tạo Estella với quyết
                tâm làm nên tên tuổi từ những thiết kế của mình. Cô kết giao với
                2 kẻ trộm luôn đánh giá cao tham vọng và sự nghịch ngợm của cô
                và họ cùng nhau gây dựng tên tuổi ở khu phố London. Một ngày nọ,
                sự nhạy bén về thời trang của Estella đã lọt vào mắt xanh của bà
                Nam tước von Hallman, một huyền thoại thời trang, người phụ nữ
                sang trọng nhưng không kém vẻ đáng sợ. Nhưng mối quan hệ của họ
                dẫn đến những sự kiện và khiến Estella bước vào con đường để trở
                thành một người đậm chất thời trang nhưng tàn ác và đầy lòng hận
                thù - Cruella.
              </p>
              <p>Khởi chiếu: Từ 28/05/2021</p>
            </div>
          </a>
                                                                                                                                <div class="film-item-type">
                                                                                                                                    <span class="icon-2d"></span>
                                                                                                                                    <span class="icon-am3d"></span>
                                                                                                                                    <span class="icon-3d"></span>
                                                                                                                                </div>
                                                                                                                                <div class="film-item-but">
                                                                                                                                    <a class="trailler-btn fontsize13" href="trailer?code=gNiUulfXBdU">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/cf7634af-f815-4619-bd11-9c333eb151ea"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-org t-2d">
          <a href="phim/9463f8f0-32f2-4089-bd5d-f880e940ed0f">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/06-2021/spirit.gif"
                alt="CHÚ NGỰA BẤT KHAM"
              />
            </div>
            <div class="film-item-txt">
              <h3>CHÚ NGỰA BẤT KHAM</h3>
              <p></p>
              <p>Khởi chiếu: Từ 01/06/2021</p>
            </div>
          </a>
                                                                                                                                    <div class="film-item-type">
                                                                                                                                        <span class="icon-2d"></span>
                                                                                                                                        <span class="icon-am3d"></span>
                                                                                                                                        <span class="icon-3d"></span>
                                                                                                                                    </div>
                                                                                                                                    <div class="film-item-but">
                                                                                                                                        <a class="trailler-btn fontsize13" href="trailer?code=">TRAILER</a>
                                                                                                                                        <a class="cart-btn fontsize13" href="lichchieu/9463f8f0-32f2-4089-bd5d-f880e940ed0f">Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-ppl-dark t-2d">
          <a href="phim/f8cf34df-d853-4a64-9ebb-8b78be9c5d7a">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/06-2021/doraemon.jpg"
                alt="ĐÔI BẠN THÂN"
              />
            </div>
            <div class="film-item-txt">
              <h3>ĐÔI BẠN THÂN</h3>
              <p>
                Doraemon: Stand By Me 2 xoay quanh hạnh phúc của Nobita và
                Shizuka.
              </p>
              <p>Khởi chiếu: Từ 04/06/2021</p>
            </div>
          </a>
                                                                                                                                        <div class="film-item-type">
                                                                                                                                            <span class="icon-2d"></span>
                                                                                                                                            <span class="icon-am3d"></span>
                                                                                                                                            <span class="icon-3d"></span>
                                                                                                                                        </div>
                                                                                                                                        <div class="film-item-but">
                                                                                                                                            <a class="trailler-btn fontsize13" href="trailer?code=f7kAzSe3RgM">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/f8cf34df-d853-4a64-9ebb-8b78be9c5d7a"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-ppl t-2d">
          <a href="phim/7e89761e-2aba-4fca-8ee5-a487e713b7b3">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/05-2021/thecon.jpg"
                alt="THE CONJURING: MA XUI QUỶ KHIẾN"
              />
            </div>
            <div class="film-item-txt">
              <h3>THE CONJURING: MA XUI QUỶ KHIẾN</h3>
              <p>
                Là một trong những vụ án kịch tính và giật gân nhất trên hành
                trình của cả Ed và Lorraine, đấu tranh để cứu lấy linh hồn của
                một cậu bé nhưng sau đó mọi chuyện dường như đi quá xa và vượt
                ngoài tầm kiểm soát... Đây là cũng là vụ án đầu tiên trong lịch
                sử nước Mỹ có một nghi phạm giết người triệu hồi được ma quỷ để
                bảo vệ chính mình.
              </p>
              <p>Khởi chiếu: Từ 04/06/2021</p>
            </div>
          </a>
                                                                                                                                            <div class="film-item-type">
                                                                                                                                                <span class="icon-2d"></span>
                                                                                                                                                <span class="icon-am3d"></span>
                                                                                                                                                <span class="icon-3d"></span>
                                                                                                                                            </div>
                                                                                                                                            <div class="film-item-but">
                                                                                                                                                <a class="trailler-btn fontsize13" href="trailer?code=W38Oh1IXixk">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/7e89761e-2aba-4fca-8ee5-a487e713b7b3"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-pnk t-2d">
          <a href="phim/b38b654c-a68e-4895-89e8-c7f8c1a8516b">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/05-2021/rungthemang.jpg"
                alt="RỪNG THẾ MẠNG"
              />
            </div>
            <div class="film-item-txt">
              <h3>RỪNG THẾ MẠNG</h3>
              <p>
                Câu chuyện về giá trị của tình bạn, tình người trên cuộc hành
                trình khám phá đầy rủi ro, giữa những hồ nghi trong thời khắc
                sinh tử của 1 con người.
              </p>
              <p>Khởi chiếu: Từ 11/06/2021</p>
            </div>
          </a>
                                                                                                                                                <div class="film-item-type">
                                                                                                                                                    <span class="icon-2d"></span>
                                                                                                                                                    <span class="icon-am3d"></span>
                                                                                                                                                    <span class="icon-3d"></span>
                                                                                                                                                </div>
                                                                                                                                                <div class="film-item-but">
                                                                                                                                                    <a class="trailler-btn fontsize13" href="trailer?code=tOVtn3hYwKg">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/b38b654c-a68e-4895-89e8-c7f8c1a8516b"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-org t-2d">
          <a href="phim/27cfebc5-6389-4e5c-8cde-62df2d19eeba">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/06-2021/nhaconoc.jpg"
                alt="VỆ SĨ SÁT THỦ 2"
              />
            </div>
            <div class="film-item-txt">
              <h3>VỆ SĨ SÁT THỦ 2</h3>
              <p>
                Bộ đôi chết chóc nhất quả đất: vệ sĩ Michael Bryce và sát thủ
                Darius Kincaid đã bung nóc trở lại cùng 'Vệ Sĩ Sát Thủ 2' Chuyên
                viên an ninh cao cấp Michael Bryce quyết định nghỉ xả hơi buông
                lơi 2 từ VỆ SĨ. Ăn chơi chưa được bao lâu, Michael Bryce một lần
                nữa buộc phải làm bạn thân cùng sát thủ khét tiếng Darius
                Kincaid trong phi vụ tréo ngoe: cứu lấy nóc nhà của tay sát thủ.
              </p>
              <p>Khởi chiếu: Từ 18/06/2021</p>
            </div>
          </a>
                                                                                                                                                    <div class="film-item-type">
                                                                                                                                                        <span class="icon-2d"></span>
                                                                                                                                                        <span class="icon-am3d"></span>
                                                                                                                                                        <span class="icon-3d"></span>
                                                                                                                                                    </div>
                                                                                                                                                    <div class="film-item-but">
                                                                                                                                                        <a class="trailler-btn fontsize13" href="trailer?code=e38B88KEOVQ">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/27cfebc5-6389-4e5c-8cde-62df2d19eeba"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-ppl-dark t-2d">
          <a href="phim/5198efbe-da5e-4bce-ad45-da592b46c119">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/07-2021/phicong.jpg"
                alt="PHI CÔNG SIÊU ĐẲNG MAVERICK"
              />
            </div>
            <div class="film-item-txt">
              <h3>PHI CÔNG SIÊU ĐẲNG MAVERICK</h3>
              <p>
                Bộ phim xoay quanh những cuộc chiến đấu gay cấn trên bầu trời
                cao của chàng phi công tài ba Maverick (Tom Cruise). Tuy nhiên,
                người hùng nay còn phải đối mặt với những chiếc máy bay không
                người lái được điều khiển từ xa.
              </p>
              <p>Khởi chiếu: Từ 02/07/2021</p>
            </div>
          </a>
                                                                                                                                                        <div class="film-item-type">
                                                                                                                                                            <span class="icon-2d"></span>
                                                                                                                                                            <span class="icon-am3d"></span>
                                                                                                                                                            <span class="icon-3d"></span>
                                                                                                                                                        </div>
                                                                                                                                                        <div class="film-item-but">
                                                                                                                                                            <a class="trailler-btn fontsize13" href="trailer?code=r9aPsDarRJo">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/5198efbe-da5e-4bce-ad45-da592b46c119"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-ppl t-2d">
          <a href="phim/6e92e4a9-0ae6-4d3e-8d62-f8e56dfe093b">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/04-2021/chiakhoa.jpg"
                alt="CHÌA KHÓA TRĂM TỶ"
              />
            </div>
            <div class="film-item-txt">
              <h3>CHÌA KHÓA TRĂM TỶ</h3>
              <p>
                Được thực hiện dựa trên kịch bản gốc của Nhật Bản - Key of life,
                từng được dựng thành phim và thành công rực rỡ tại hai thị
                trường Nhật Bản và Hàn Quốc. Phim tiếp tục là một lần kết hợp
                của Kiều Minh Tuấn và Thu Trang trên màn ảnh rộng nhưng hứa hẹn
                thể hiện nhiều cảm xúc mới mẻ của hai diễn viên cũng như khán
                giả xem phim.
              </p>
              <p>Khởi chiếu: Từ 30/07/2021</p>
            </div>
          </a>
                                                                                                                                                            <div class="film-item-type">
                                                                                                                                                                <span class="icon-2d"></span>
                                                                                                                                                                <span class="icon-am3d"></span>
                                                                                                                                                                <span class="icon-3d"></span>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="film-item-but">
                                                                                                                                                                <a class="trailler-btn fontsize13" href="trailer?code=Zv74Bge-RhI">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/6e92e4a9-0ae6-4d3e-8d62-f8e56dfe093b"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-pnk t-2d">
          <a href="phim/9227e3d9-aea0-4383-884c-3d01282d217b">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/05-2021/578.jpg"
                alt="578 PHÁT ĐẠN CỦA KẺ ĐIÊN"
              />
            </div>
            <div class="film-item-txt">
              <h3>578 PHÁT ĐẠN CỦA KẺ ĐIÊN</h3>
              <p>
                578: Phát Đạn Của Kẻ Điên kể về câu chuyện của một người lái xe
                container và cô con gái nhỏ. Cuộc sống của 2 cha con trên chiếc
                xe màu đỏ cứ êm đềm diễn ra cho đến ngày cô bé xa cha đi học.
                Mọi thứ bỗng đảo lộn khi người cha nhận được tin cô con gái bị
                trầm cảm nặng sau khi bị xâm hại. Trên hành trình đi tìm công lý
                cho con, người cha chợt nhận ra rằng ông không chỉ đối đầu với
                một kẻ xâm hại.
              </p>
              <p>Khởi chiếu: Từ 13/08/2021</p>
            </div>
          </a>
                                                                                                                                                                <div class="film-item-type">
                                                                                                                                                                    <span class="icon-2d"></span>
                                                                                                                                                                    <span class="icon-am3d"></span>
                                                                                                                                                                    <span class="icon-3d"></span>
                                                                                                                                                                </div>
                                                                                                                                                                <div class="film-item-but">
                                                                                                                                                                    <a class="trailler-btn fontsize13" href="trailer?code=MkTgVEenHZg">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/9227e3d9-aea0-4383-884c-3d01282d217b"
              >Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-org t-2d">
          <a href="phim/59244951-3679-4abb-a4e8-cd4e934fbc98">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/04-2021/shangchi.jpg"
                alt="SHANG-CHI VÀ HUYỀN THOẠI THẬP NHẪN"
              />
            </div>
            <div class="film-item-txt">
              <h3>SHANG-CHI VÀ HUYỀN THOẠI THẬP NHẪN</h3>
              <p>
                Shang-Chi và Huyền Thoại Thập Nhẫn là bộ phim thuộc giai đoạn 4
                của Vũ trụ điện ảnh Marvel. Nhân vật này được biết đến như một
                bậc thầy Kung Fu, tinh thông võ thuật. Sức mạnh của Shang-Chi
                đến từ hàng ngàn giờ luyện tập miệt mài và sự kỷ luật cao độ với
                bản thân. Siêu anh hùng võ thuật này được chính bố dạy dỗ để trở
                thành một sát thủ chuyên nghiệp và kế thừa tập đoàn tội ác của
                ông.
              </p>
              <p>Khởi chiếu: Từ 03/09/2021</p>
            </div>
          </a>
                                                                                                                                                                    <div class="film-item-type">
                                                                                                                                                                        <span class="icon-2d"></span>
                                                                                                                                                                        <span class="icon-am3d"></span>
                                                                                                                                                                        <span class="icon-3d"></span>
                                                                                                                                                                    </div>
                                                                                                                                                                    <div class="film-item-but">
                                                                                                                                                                        <a class="trailler-btn fontsize13" href="trailer?code=">TRAILER</a>
                                                                                                                                                                        <a class="cart-btn fontsize13" href="lichchieu/59244951-3679-4abb-a4e8-cd4e934fbc98">Mua vé</a
            >
          </div>
        </div>
        <div class="film-item cl-ppl-dark t-2d">
          <a href="phim/dbb16044-df94-406c-a973-c1d929a84e9e">
            <div class="film-item-pic">
              <img
                src="pictures/Cinestar/02-2021/magannha.jpg"
                alt="CHUYỆN MA GẦN NHÀ"
              />
            </div>
            <div class="film-item-txt">
              <h3>CHUYỆN MA GẦN NHÀ</h3>
              <p>
                Bộ phim 'Chuyện Ma Gần Nhà' thuộc vũ trụ điện ảnh kinh dị - tâm
                lý đầu tiên của Việt Nam. Tác phẩm đậm tính kì ma dị quỷ này
                được lấy cảm hứng từ những truyền thuyết đô thị Việt Nam, với
                phần đầu tiên gồm 3 chương chính lần lượt là Cô gái trên xe nước
                mía – Chung cư cũ & Nhà ngoại cảm. 'Chuyện Ma Gần Nhà' được cầm
                trịch bởi cặp đôi Đạo diễn Trần Hữu Tấn và Nhà sản xuất Hoàng
                Quân, dự kiến ra mắt vào dịp Halloween 2021.
              </p>
              <p>Khởi chiếu: Từ 31/10/2021</p>
            </div>
          </a>
                                                                                                                                                                        <div class="film-item-type">
                                                                                                                                                                            <span class="icon-2d"></span>
                                                                                                                                                                            <span class="icon-am3d"></span>
                                                                                                                                                                            <span class="icon-3d"></span>
                                                                                                                                                                        </div>
                                                                                                                                                                        <div class="film-item-but">
                                                                                                                                                                            <a class="trailler-btn fontsize13" href="trailer?code=6TknBsoFXOQ">TRAILER</a
            >
            <a
              class="cart-btn fontsize13"
              href="lichchieu/dbb16044-df94-406c-a973-c1d929a84e9e"
              >Mua vé</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="movie-col" data-open="special">
      <div class="col-inr"></div>
    </div>
  </div>
  <!--MOVIE-TAB-->
</div>
<!--CONTENT-PAGE-->