<!--CONTENT-PAGE-->
<div class="content-page">
    <div class="sub-tab film">
        <ul>
            <li style="z-index: 3" class="current">
                <a href="javascript:void(0);" data-href="/GUB/nowplaying" data-name="playing">Now playing</a>
            </li>
            <li style="z-index: 2">
                <a href="javascript:void(0);" data-href="/iscoming" data-name="coming">Phim sắp chiếu</a>
            </li>
            <li style="z-index: 1">
                <a href="javascript:void(0);" data-href="special" data-name="special">Suất chiếu đặc biệt</a>
            </li>
        </ul>
    </div>

    <!--MOVIE-TAB-->
    <div class="tab-movie">
        <div class="movie-col active" style="opacity: 1;" data-open="playing">
            <div class="col-inr">
                <div class="film-item cl-org t-2d">
                    <a href="phim/0c8b1b99-7b33-43d0-aeaa-9c54e19cf2c7">
                        <div class="film-item-pic">
                            <img src="/pictures/Cinestar/03-2021/lm.jpg" alt="LẬT MẶT 48H (C18)" />
                        </div>
                        <div class="film-item-txt">
                            <h3>LẬT MẶT 48H (C18)</h3>
                            <p>
                                Chuyện phim kể về Hiền (Võ Thành Tâm) - một cựu vận động viên võ thuật sau khi giải nghệ vì chấn thương đã cùng vợ (Ốc Thanh Vân) và con gái về quê thăm gia đình Lâm (Mạc Văn Khoa). Họ bị cuốn vào một cuộc rượt đuổi với tay phản diện A Dìn (Huỳnh Đông).
                                Để bảo vệ cho gia đình nhỏ, Hiền phải đưa vợ con chạy trốn khắp miền Tây sông nước với sự trợ giúp của người bạn thật thà và hài hước.
                            </p>
                        </div>
                    </a>
                    <div class="film-item-type">
                        <span class="icon-2d"></span>
                        <span class="icon-am3d"></span>
                        <span class="icon-3d"></span>
                    </div>
                    <div class="film-item-but">
                        <a class="trailler-btn fontsize13" href="trailer?code=07zvDW_nj0U">TRAILER</a>
                        <a class="cart-btn fontsize13" href="lichchieu/0c8b1b99-7b33-43d0-aeaa-9c54e19cf2c7">Mua vé</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="movie-col " style="opacity: 0;" data-open="coming">
            <div class="col-inr">
                <div class="film-item cl-org t-2d">
                    <a href="phim/0c8b1b99-7b33-43d0-aeaa-9c54e19cf2c7">
                        <div class="film-item-pic">
                            <img src="/pictures/Cinestar/03-2021/lm.jpg" alt="LẬT MẶT 48H (C18)" />
                        </div>
                        <div class="film-item-txt">
                            <h3>LẬT MẶT 48H (C18)</h3>
                            <p>
                                Chuyện phim kể về Hiền (Võ Thành Tâm) - một cựu vận động viên võ thuật sau khi giải nghệ vì chấn thương đã cùng vợ (Ốc Thanh Vân) và con gái về quê thăm gia đình Lâm (Mạc Văn Khoa). Họ bị cuốn vào một cuộc rượt đuổi với tay phản diện A Dìn (Huỳnh Đông).
                                Để bảo vệ cho gia đình nhỏ, Hiền phải đưa vợ con chạy trốn khắp miền Tây sông nước với sự trợ giúp của người bạn thật thà và hài hước.
                            </p>
                        </div>
                    </a>
                    <div class="film-item-type">
                        <span class="icon-2d"></span>
                        <span class="icon-am3d"></span>
                        <span class="icon-3d"></span>
                    </div>
                    <div class="film-item-but">
                        <a class="trailler-btn fontsize13" href="trailer?code=07zvDW_nj0U">TRAILER</a>
                        <a class="cart-btn fontsize13" href="lichchieu/0c8b1b99-7b33-43d0-aeaa-9c54e19cf2c7">Mua vé</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="movie-col " style="opacity: 0;" data-open="special">
            <div class="col-inr">
                <div class="film-item cl-org t-2d">
                    <a href="phim/0c8b1b99-7b33-43d0-aeaa-9c54e19cf2c7">
                        <div class="film-item-pic">
                            <img src="/pictures/Cinestar/03-2021/lm.jpg" alt="LẬT MẶT 48H (C18)" />
                        </div>
                        <div class="film-item-txt">
                            <h3>LẬT MẶT 48H (C18)</h3>
                            <p>
                                Chuyện phim kể về Hiền (Võ Thành Tâm) - một cựu vận động viên võ thuật sau khi giải nghệ vì chấn thương đã cùng vợ (Ốc Thanh Vân) và con gái về quê thăm gia đình Lâm (Mạc Văn Khoa). Họ bị cuốn vào một cuộc rượt đuổi với tay phản diện A Dìn (Huỳnh Đông).
                                Để bảo vệ cho gia đình nhỏ, Hiền phải đưa vợ con chạy trốn khắp miền Tây sông nước với sự trợ giúp của người bạn thật thà và hài hước.
                            </p>
                        </div>
                    </a>
                    <div class="film-item-type">
                        <span class="icon-2d"></span>
                        <span class="icon-am3d"></span>
                        <span class="icon-3d"></span>
                    </div>
                    <div class="film-item-but">
                        <a class="trailler-btn fontsize13" href="trailer?code=07zvDW_nj0U">TRAILER</a>
                        <a class="cart-btn fontsize13" href="lichchieu/0c8b1b99-7b33-43d0-aeaa-9c54e19cf2c7">Mua vé</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--MOVIE-TAB-->
</div>
<!--CONTENT-PAGE-->