<!--CONTENT-PAGE-->
<div class="content-page">

    <!--CINEMA-PRICE-->
    <div class="cinema-price-content">
        <div class="cinema-price-wrap">
            <div class="cinema-price-load" style="min-height: 333.5px; opacity: 1">
                <div class="cinema-price-item">
                    <img src="https://cinestar.com.vn/pictures/Bảng%20giá%20vé/cqt_2d-cap.jpeg" alt="pic" class="zoom-pic" />
                </div>
                <div class="cinema-price-item">
                    <img src="https://cinestar.com.vn/pictures/Bảng%20giá%20vé/cqt_3d.png" alt="pic" class="zoom-pic" />
                </div>
                <script>
                    $(document).ready(function() {
                        $(".bg-cover").css({
                            "background-image": "url(https://cinestar.com.vn/pictures/Bảng%20giá%20vé/439751.jpg)",
                        });
                    });
                </script>
            </div>
        </div>
        <div class="bg-cover" style="background-image: url(pictures/cinema-price/bg-price.jpg)"></div>
    </div>
    <!--CINEMA-PRICE-->

    <!--PROMOTION-SECTION-->
    <div class="promotion-content">
        <div class="promotion-wrap">
            <div class="promotion-title">
                <h2>Ưu đãi</h2>
            </div>

            <div class="promotion-slide">
                <div class="promotion-item">
                    <a href="khuyenmai/c-monday">
                        <div class="promotion-pic">
                            <img class="lazyload" data-src="pictures/c_monday.jpg" align="C'MONDAY - ƯU ĐÃI THỨ 2" />
                        </div>
                    </a>
                </div>

                <div class="promotion-item">
                    <a href="khuyenmai/combobigstaruudaithuba">
                        <div class="promotion-pic">
                            <img class="lazyload" data-src="pictures/big-star-_-trang-chủ-web.jpg" align="COMBO BIG STAR - ƯU ĐÃI THỨ BA " />
                        </div>
                    </a>
                </div>

                <div class="promotion-item">
                    <a href="khuyenmai/c-member">
                        <div class="promotion-pic">
                            <img class="lazyload" data-src="pictures/hinhnenCTKM/c'member.jpg" align="C'member - ngày hội thành viên" />
                        </div>
                    </a>
                </div>

                <div class="promotion-item">
                    <a href="khuyenmai/c-student">
                        <div class="promotion-pic">
                            <img class="lazyload" data-src="pictures/hinhnenCTKM/hssv.jpg" align="TẸT GA 45K SUỐT TUẦN TOÀN HỆ THỐNG" />
                        </div>
                    </a>
                </div>

                <div class="promotion-item">
                    <a href="khuyenmai/c-ten">
                        <div class="promotion-pic">
                            <img class="lazyload" data-src="pictures/c_ten.jpg" align="C'Ten - Khuyến mãi tại mốc 10H" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--PROMOTION-SECTION-->
</div>
<!--CONTENT-PAGE-->