<!--CONTENT-PAGE-->
<div class="content-page">
    <!--SEARCH-RESULT-->
    <div class="section-title">
        <h2>Kết quả tìm kiếm</h2>
    </div>
    <div class="search-wrap">
        <p>01).&nbsp; LẬT MẶT 48H (C18) &nbsp;<a href="phim/0c8b1b99-7b33-43d0-aeaa-9c54e19cf2c7"> Chi tiết</a></p>



    </div>
    <!--SEARCH-RESULT-->
</div>
<!--CONTENT-PAGE-->