
	<link rel="stylesheet" type="text/css" href="/movie/css/util.css">
	<link rel="stylesheet" type="text/css" href="/movie/css/main.css">
    <div class="container-contact100">
		<div class="wrap-contact100">
			<button style="height: 30px; width: 30px; margin-left: 0.2cm; margin-top: 0.2cm;" type="button" onclick="window.location.href='/movie'">X</button>
                 <center>
				<span class="contact100-form-title" style="color: #000022; font-weight: bold;font-size:45px">
					Add Movie
				</span>
                </center>

			<form action="/movie/add"  class="contact100-form validate-form" method="POST" enctype="multipart/form-data"> 

				<div class="wrap-input100 validate-input bg0 rs1-alert-validate">
					<span class="label-input100">Name</span>
					<input class="input100" type="text" name="Name" placeholder="Vui lòng nhập tên phim" required>
				</div>
				<div class="wrap-input100 validate-input bg0 rs1-alert-validate">
					<span class="label-input100">Directors</span>
					<input class="input100" type="text" name="Directors" placeholder="Vui lòng nhập đạo diễn" required>
				</div>
				<div class="wrap-input100 validate-input bg0 rs1-alert-validate">
					<span class="label-input100">Actors</span>
					<input class="input100" type="text" name="Actors" placeholder="Vui lòng nhập diễn viên" required>
				</div>
				<div class="wrap-input100 validate-input bg0 rs1-alert-validate">
					<span class="label-input100">Genres</span>
					<input class="input100" type="text" name="Genres" placeholder="Vui lòng nhập thể loại" required>
				</div>
				<div class="wrap-input100 validate-input bg0 rs1-alert-validate">
					<span class="label-input100">Time</span>
					<input class="input100" type="number" name="Time" placeholder="Vui lòng nhập thời lượng" required/>
				</div>
				<div class="wrap-input100 validate-input bg0 rs1-alert-validate">
					<span class="label-input100">Decription</span>
					<textarea class="input100" name="Decription" placeholder="Vui lòng điền mo ta của phim " required></textarea>
				</div>
				<div class="wrap-input100 validate-input bg0 rs1-alert-validate">
					<span class="label-input100">Release Date</span>
					<input class="input100" type="date" name="ReleaseDate" placeholder="Vui lòng nhập ngày công chiếu" required/>
				</div>
				<div class="wrap-input100 validate-input bg0 rs1-alert-validate">
					<label for="category" class="form-label">Category</label>
					<div style="height: 30px;width: 300px" class="dropdown dropdown">
					   
						<select id="category" name="Category" class="dropdown-select">
							<option value="nowplaying">Now Playing</option>
							<option value="comingsoon">Comming Soon</option>
							<option value="hot">Hot</option>
						</select>
					 </div>
				</div>
				<iframe src="https://www.youtube.com/embed/" style="width:500px;height:450px;display: block; margin-left: auto; margin-right: auto" id="youtube" ></iframe>
				<div class="wrap-input100 validate-input bg0 rs1-alert-validate">
					<span class="label-input100">Youtube</span>
					<input class="input100" type="text" name="trailer" id="trailer" required>
					<script>
							
							document.getElementById("trailer").onchange = function() {myFunction()};

								function myFunction() {
								var link = document.getElementById("trailer").value;
								
 								 var x = link.split('v=')[1];
								  console.log(x);
								  var ampersandPosition = x.indexOf('&');
								  
									if(ampersandPosition != -1) {
 									 x = x.substring(0, ampersandPosition);
									 
									}
									console.log(x);
									document.getElementById("youtube").src = "https://www.youtube.com/embed/"+x;
									console.log(document.getElementById("youtube").src);
								}
					</script>
				</div>
				
				
				
				<div class="wrap-input validate-input bg0 rs1-alert-validate">
					<span class="label-input100">Poster</span>
								<img style="width:200px;height:200px;display: block; margin-left: auto; margin-right: auto" id="output"  />
					
					
						<input type="file" class="form-control-file" name="poster" accept="image/*"
							onchange="loadFile(event)" required >
		  
						<script>
							
						var loadFile = function(event) 
						{
							var output = document.getElementById('output');
							output.src = URL.createObjectURL(event.target.files[0]);
							output.onload = function() {
								URL.revokeObjectURL(output.src) // free memory
							}
						};
						</script>
						<br />
						
						<div class="wrap-input100 validate-input bg0 rs1-alert-validate">
							<input class="form-check-input" type="checkbox" value="true" name="check" id="flexCheckDefault" <%- check === 'true' ? 'checked' : '' %>>
							<label class="form-check-label" for="flexCheckDefault">
							  Check to continue add movie
							</label>
					</div>
				
                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">
                        <span>
                            Submit
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    
    
</body>
